openapi: 3.0.0
info:
  title: contracts-api
  description: ""
  version: 1.113.4
  contact: {}
servers:
  - url: https://api.platform.trans.eu
    description: PROD
tags: []
paths:
  /ext/contracts-api/v1/contracts:
    get:
      operationId: ContractsReadV1Controller_getList
      parameters:
        - name: context
          required: true
          in: query
          schema:
            type: string
        - name: limit
          required: false
          in: query
          description: Number of items per page
          schema:
            example: 25
            type: number
        - name: offset
          required: false
          in: query
          description: Number of items to skip
          schema:
            example: 0
            type: number
        - name: filter
          required: false
          in: query
          description: Filter object (will be JSON stringified)
          schema:
            example:
              route_id: a9288ec1-6e97-41e7-befb-e81e78125406
            type: object
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ContractsListResponseDto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      tags:
        - contracts-api
    post:
      description: Create a new contract
      operationId: ContractsManageV1Controller_create
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateContractDto"
      responses:
        "201":
          description: Contract created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractResponseDto"
        "400":
          description: Bad request - invalid input data
        "401":
          description: Unauthorized - authentication required
        "422":
          description: Validation error - input data validation failed
      summary: Create contract
      tags:
        - contracts-api
  /ext/contracts-api/v1/contracts/{uuid}:
    get:
      operationId: ContractsReadV1Controller_getById
      parameters:
        - name: uuid
          required: true
          in: path
          description: Contract UUID
          schema:
            format: uuid
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractResponseDto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      tags:
        - contracts-api
    put:
      description: Update existing contract or create amendment
      operationId: ContractsManageV1Controller_update
      parameters:
        - name: uuid
          required: true
          in: path
          description: Contract UUID
          schema:
            format: uuid
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateContractDto"
      responses:
        "200":
          description: Contract updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractResponseDto"
        "400":
          description: Bad request - invalid input data
        "401":
          description: Unauthorized - authentication required
        "404":
          description: Contract not found
        "422":
          description: Validation error - input data validation failed
      summary: Update contract
      tags:
        - contracts-api
  /ext/contracts-api/v2/contracts/fixed:
    post:
      description: Create a fixed contract.
      operationId: ContractsManageV2Controller_createFixed
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateFixedContractV2Dto"
      responses:
        "201":
          description: Fixed contract created successfully
          content:
            application/json:
              schema:
                example:
                  id: cacf90b0-5f34-415f-99ae-2783946b17f5
                  base_contract_id: cacf90b0-5f34-415f-99ae-2783946b17f5
                  type: fixed
                  position: null
                  carrier:
                    company:
                      id: 1023106
                      name: Forwarder Dev
                    contact_persons: []
                    cooperation_status: active
                  deactivations: []
                  order_terms:
                    monitoring:
                      required: false
                    additional_terms: additional_terms
                    insurance:
                      load: null
                      third_party: null
                    automatic_order_sending: false
                    payment_period:
                      value: 5
                    silent_confirmation:
                      enabled: false
                      time: null
                    autoresponder:
                      enabled: false
                      time: null
                  period:
                    from: 2026-03-03T10:20:00+02:00
                    to: 2026-04-04T10:45:00+02:00
                  percentage_share: 0
                  planned_shipments:
                    periods: []
                    type: null
                    unit: null
                    value: null
                  pricing:
                    negotiable: true
                    type: route
                    price:
                      value: 55
                      currency: eur
                    fuel_base_price:
                      value: null
                      currency: eur
                  reference_number: reference_number
                  route:
                    id: 94c9ec23-dbd5-496a-b839-b3c7bc22eddc
                    unique_key: null
                    name: 9.12.2025 walkingfloor 1
                    publication_scenario:
                      type: parallel
                    spots:
                      - id: 8e251e17-c900-40db-ae0c-acf86fd7ee9f
                        name: lezajskie
                        type: loading
                        place:
                          address:
                            locality: Leżajsk
                            postal_code: 37-300
                            country: pl
                            street: 11 Listopada
                            number: "2"
                            location_id: 1267629
                            detailed_location_id: 428168490
                            foreign_id: null
                            radius: 200
                          coordinates:
                            latitude: 50.27007211
                            longitude: 22.41241634
                      - id: 8089d402-e609-45c3-bf69-30ca9fb68e22
                        name: jaros
                        type: unloading
                        place:
                          address:
                            locality: Pawłosiów
                            postal_code: 37-500
                            country: pl
                            street: 3 Maja
                            number: "10"
                            location_id: 1266842
                            detailed_location_id: 315053297
                            foreign_id: null
                            radius: 2375
                          coordinates:
                            latitude: 49.9953594
                            longitude: 22.6455138
                    distance:
                      declared: null
                      calculated:
                        value: 45
                        unit_code: km
                    suggested_calculated_route_id: 71ae1034-ae82-4e65-8963-cf434bc42273
                    distance_match:
                      min: null
                      max: null
                    is_roundtrip: false
                    requirements:
                      required_truck_bodies:
                        - walkingfloor
                      required_adr_classes: []
                      required_ways_of_loading: []
                      additional_requirements: []
                      shipping_remarks: ""
                      freight_type: null
                      vehicle_size: solo
                      width: null
                      height: null
                      length: null
                      volume: null
                      capacity:
                        min: null
                        max: null
                      exemption_from_adr: false
                    loads:
                      - name: null
                        type_of_load: null
                        amount: null
                        width: null
                        height: null
                        length: null
                        volume: null
                        weight:
                          min: null
                          max: null
                        pallets:
                          is_stackable: false
                          is_exchangeable: false
                    balancing:
                      type: manual
                      allowed_types:
                        - manual
                        - freight_limit
                        - percentage_share
                      freight_limit:
                        min: null
                        max: null
                    status: active
                    shipments_summary:
                      amount: 0
                      weight:
                        value: 0
                        unit_code: t
                      distance:
                        value: 0
                        unit_code: km
                      price:
                        - amount: null
                          currency: null
                    position: 15248
                  shipper:
                    company:
                      id: 1023107
                      name: Shipper Dev
                    contact_persons:
                      - id: 328af01d-0e6b-4746-a7f1-eef2ebe54dd0
                        employee:
                          id: 842741
                          account_id: 170545
                          given_name: Łukasz
                          family_name: Dziewa
                          trans_id: 1023107-5
                          email: ldziewa@trans.eu
                          telephone: (0048) 5150868
                        channels:
                          - email
                          - push
                          - web-push
                          - messenger
                        reported_by:
                          company:
                            id: 1023107
                  status: waiting_for_carrier_offer
                  _stats:
                    transports:
                      realized: null
                      average_per_month: null
                      awaiting: null
                    offers:
                      accepted: null
                      total: null
                      acceptance_rate: null
                  _meta:
                    is_copy: false
                    is_parent: false
                    has_been_sent_to_carrier: true
                  surcharges: []
        "400":
          description: Bad request - invalid input data
        "401":
          description: Unauthorized - authentication required
        "422":
          description: Validation error
      security:
        - bearer: []
      summary: Create fixed contract (v2)
      tags:
        - contracts-api
  /ext/contracts-api/v2/contracts/fixed/{id}:
    put:
      description: Updates an existing fixed contract. Proxies to PUT
        /api/rest/v3/contracts/fixed/:id on contracts-bulk.
      operationId: ContractsManageV2Controller_updateFixed
      parameters:
        - name: id
          required: true
          in: path
          description: Fixed contract UUID
          schema:
            format: uuid
            example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateFixedContractV2Dto"
      responses:
        "200":
          description: Fixed contract updated successfully
          content:
            application/json:
              schema:
                example:
                  id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  base_contract_id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  type: fixed
                  pricing:
                    negotiable: true
                    type: route
                    price:
                      value: 55
                      currency: eur
                    fuel_base_price:
                      value: null
                      currency: eur
                  period:
                    from: 2026-03-03T10:20:00+02:00
                    to: 2026-04-04T10:45:00+02:00
                  status: REGISTERED
                  negotiable: true
                  carrier:
                    company:
                      id: 1023106
                      name: Forwarder Dev
                    contact_persons: []
                    cooperation_status: active
                  shipper:
                    company:
                      id: 1023107
                      name: Shipper Dev
                    contact_persons:
                      - id: 328af01d-0e6b-4746-a7f1-eef2ebe54dd0
                        employee:
                          id: 842741
                          account_id: 170545
                          given_name: Łukasz
                          family_name: Dziewa
                          trans_id: 1023107-5
                          email: ldziewa@trans.eu
                          telephone: (0048) 5150868
                        channels:
                          - email
                          - push
                          - web-push
                          - messenger
                        reported_by:
                          company:
                            id: 1023107
                  reference_number: reference_number
                  created_by: {}
                  updated_by: {}
                  plan: {}
                  plans:
                    - {}
                  created_at: {}
                  updated_at: {}
                  deactivations: []
                  refusal_reason: null
                  parent: {}
                  order_terms:
                    monitoring:
                      required: false
                    additional_terms: additional_terms
                    insurance:
                      load: null
                      third_party: null
                    automatic_order_sending: false
                    payment_period:
                      value: 5
                    silent_confirmation:
                      enabled: false
                      time: null
                    autoresponder:
                      enabled: false
                      time: null
                  position: 0
                  percentage_share: 0
                  shipments_summary: {}
                  spots:
                    - id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                      name: Spot name
                      type: loading
                      place:
                        address:
                          country: pl
                          foreign_id: null
                          location_id: 1267629
                          detailed_location_id: 428168490
                          locality: Leżajsk
                          postal_code: 37-300
                          street: 11 Listopada
                          number: "2"
                          radius: 200
                        coordinates:
                          latitude: 50.27007211
                          longitude: 22.41241634
                  distances:
                    - {}
                  load: {}
                  auto_responder: {}
                  surcharges: []
                  planned_shipments:
                    - {}
                  route:
                    id: 94c9ec23-dbd5-496a-b839-b3c7bc22eddc
                    unique_key: null
                    name: Route name
                    publication_scenario:
                      type: parallel
                    spots: []
                    distance:
                      declared: null
                      calculated:
                        value: 45
                        unit_code: km
                    suggested_calculated_route_id: null
                    distance_match:
                      min: null
                      max: null
                    is_roundtrip: false
                    requirements:
                      required_truck_bodies: []
                      required_adr_classes: []
                      required_ways_of_loading: []
                      additional_requirements: []
                      shipping_remarks: ""
                      freight_type: null
                      vehicle_size: null
                      width: null
                      height: null
                      length: null
                      volume: null
                      capacity:
                        min: null
                        max: null
                      exemption_from_adr: false
                    loads: []
                    balancing:
                      type: manual
                      allowed_types:
                        - manual
                        - freight_limit
                        - percentage_share
                      freight_limit:
                        min: null
                        max: null
                    status: active
                    shipments_summary:
                      amount: 0
                      weight:
                        value: 0
                        unit_code: t
                      distance:
                        value: 0
                        unit_code: km
                      price:
                        - amount: null
                          currency: null
                    position: 0
                  _stats:
                    transports:
                      realized: null
                      average_per_month: null
                      awaiting: null
                    offers:
                      accepted: null
                      total: null
                      acceptance_rate: null
                  _meta:
                    is_copy: false
                    is_parent: false
                    has_been_sent_to_carrier: true
        "400":
          description: Bad request - invalid input data
        "401":
          description: Unauthorized - authentication required
        "404":
          description: Contract not found
        "422":
          description: Validation error
      security:
        - bearer: []
      summary: Update fixed contract (v2)
      tags:
        - contracts-api
  /ext/contracts-api/v2/contracts/flexible:
    post:
      description: Create a flexible contract.
      operationId: ContractsManageV2Controller_createFlexible
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlexibleContractBodyV2Dto"
      responses:
        "201":
          description: Flexible contract created successfully
          content:
            application/json:
              schema:
                example:
                  id: 0de07664-37ea-4eb3-96c2-17023aca39d3
                  base_contract_id: 0de07664-37ea-4eb3-96c2-17023aca39d3
                  type: flexible
                  position: null
                  percentage_share: 0
                  route:
                    id: a66690da-55c4-4802-8bbc-556abb3f490b
                    unique_key: null
                    name: Trasa Szklarska-Rutka
                    publication_scenario: null
                    spots:
                      - id: ada763fc-9c1f-4de1-806a-5cba445710d7
                        name: null
                        type: loading
                        place:
                          address:
                            locality: Szklarska Poręba
                            postal_code: 58-580
                            country: pl
                            street: null
                            number: null
                            location_id: 1179127
                            detailed_location_id: null
                            foreign_id: null
                            radius: 6545
                          coordinates:
                            latitude: 50.8268011
                            longitude: 15.5221261
                      - id: 4450c894-85f4-4149-ad62-cfee10df888e
                        name: null
                        type: unloading
                        place:
                          address:
                            locality: Rutka-Tartak
                            postal_code: 16-406
                            country: pl
                            street: null
                            number: null
                            location_id: 34520012
                            detailed_location_id: null
                            foreign_id: null
                            radius: 1415
                          coordinates:
                            latitude: 54.3227012
                            longitude: 22.9724159
                    distance:
                      declared: null
                      calculated:
                        value: 812
                        unit_code: km
                    suggested_calculated_route_id: 0ae1eadc-030a-4b0c-a2b2-0a27eea0621a
                    distance_match:
                      min: null
                      max: null
                    is_roundtrip: false
                    requirements:
                      required_truck_bodies:
                        - coilmulde
                        - bde
                        - curtainsider
                      required_adr_classes: []
                      required_ways_of_loading: []
                      additional_requirements: []
                      shipping_remarks: ""
                      freight_type: null
                      vehicle_size: lorry
                      width: null
                      height: null
                      length: null
                      volume: null
                      capacity:
                        min: null
                        max:
                          value: 21
                          unit_code: t
                      exemption_from_adr: false
                    loads:
                      - name: null
                        type_of_load: null
                        amount: null
                        width: null
                        height: null
                        length: null
                        volume: null
                        weight:
                          min: null
                          max: null
                        pallets:
                          is_stackable: false
                          is_exchangeable: false
                    balancing:
                      type: manual
                      allowed_types:
                        - manual
                        - freight_limit
                        - percentage_share
                      freight_limit:
                        min: null
                        max: null
                    status: active
                    shipments_summary:
                      amount: 0
                      weight:
                        value: 0
                        unit_code: t
                      distance:
                        value: 0
                        unit_code: km
                      price:
                        - amount: null
                          currency: null
                    position: 85821
                    _stats:
                      contracts:
                        fixed: 0
                        flexible: 1
                      transports:
                        realized:
                          average_price: null
                          count: 0
                        awaiting:
                          median_price: null
                          count: null
                        cheapest_carrier_offer: null
                  period:
                    from: null
                    to: null
                  pricing:
                    type: no_rate
                    price:
                      currency: pln
                  status: waiting_for_acceptance
                  carrier:
                    company:
                      id: 1100679
                      name: TFS External Integration Tests
                    contact_persons:
                      - id: c5fed33c-4124-4ec1-9071-d6a8b27e053c
                        employee:
                          id: 10027312
                          account_id: 10212027
                          given_name: TFS External Integration Tests
                          family_name: Playwright
                          trans_id: 1100679-1
                          email: kziolkowski+externalintegration@trans.eu
                          telephone: null
                        channels:
                          - email
                          - push
                          - web-push
                          - messenger
                        reported_by:
                          company:
                            id: 105
                    cooperation_status: active
                  shipper:
                    company:
                      id: 105
                      name: Testy Dr change v3
                    contact_persons:
                      - id: e7cf487e-0c3c-4f2d-81d5-419197fa14c2
                        employee:
                          id: 23479
                          account_id: 25157
                          given_name: Joanna
                          family_name: Slesińska
                          trans_id: 105-1
                          email: testy_netins@trans.eu
                          telephone: (0048) 792081691
                        channels:
                          - email
                          - push
                          - web-push
                          - messenger
                        reported_by:
                          company:
                            id: 105
                    cooperation_status: active
                  deactivations: []
        "400":
          description: Bad request - invalid input data
        "401":
          description: Unauthorized - authentication required
        "422":
          description: Validation error
      security:
        - bearer: []
      summary: Create flexible contract (v2)
      tags:
        - contracts-api
  /ext/contracts-api/v2/contracts:
    get:
      description: Proxy to GET /api/rest/v3/contracts. Context (SHIPPER/CARRIER) is
        resolved automatically from the JWT company roles. Returns downstream
        response with dictionary translations (DICT→ISO) applied.
      operationId: getContractsV2
      parameters:
        - name: limit
          required: false
          in: query
          description: Number of items per page
          schema:
            example: 10
            type: number
        - name: offset
          required: false
          in: query
          description: Number of items to skip
          schema:
            example: 0
            type: number
      responses:
        "200":
          description: Contracts list retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractListV2ResponseDto"
        "400":
          description: Bad request
        "401":
          description: Unauthorized
        "404":
          description: Not found
      security:
        - bearer: []
      summary: Get contracts list (v2)
      tags:
        - contracts-api
  /ext/contracts-api/v2/contracts/{id}:
    get:
      description: Proxy to GET /api/rest/v3/contracts/:id. Returns downstream
        response with dictionary translations (DICT→ISO) applied.
      operationId: getContractByIdV2
      parameters:
        - name: id
          required: true
          in: path
          description: Contract UUID
          schema:
            format: uuid
            example: 76c14a90-b63b-4483-9cbf-6ffcc648a048
            type: string
      responses:
        "200":
          description: Contract retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractV2Dto"
        "400":
          description: Bad request
        "401":
          description: Unauthorized
        "404":
          description: Not found
      security:
        - bearer: []
      summary: Get contract by ID (v2)
      tags:
        - contracts-api
  /ext/contracts-api/v1/routes:
    post:
      description: Create a new contracted route for the company
      operationId: RoutesManageV1Controller_create
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRouteDto"
      responses:
        "201":
          description: Contracted route created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RouteReadV1Dto"
        "400":
          description: Bad request - invalid input data
        "401":
          description: Unauthorized - authentication required
        "422":
          description: Validation error - input data validation failed
      summary: Create contracted route
      tags:
        - contracts-api
    get:
      description: Retrieve list of contracted routes with optional pagination and filtering
      operationId: getContractedRoutes
      parameters:
        - name: limit
          required: false
          in: query
          description: Number of items per page
          schema:
            example: 25
            type: number
        - name: offset
          required: false
          in: query
          description: Number of items to skip
          schema:
            example: 0
            type: number
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ContractedRoutesListV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Get contracted routes list
      tags:
        - contracts-api
  /ext/contracts-api/v1/routes/{uuid}:
    put:
      description: Update existing route
      operationId: RoutesManageV1Controller_update
      parameters:
        - name: uuid
          required: true
          in: path
          description: Route UUID
          schema:
            format: uuid
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateRouteDto"
      responses:
        "200":
          description: Route updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RouteReadV1Dto"
        "400":
          description: Bad request - invalid input data
        "401":
          description: Unauthorized - authentication required
        "404":
          description: Contract not found
        "422":
          description: Validation error - input data validation failed
      summary: Update route
      tags:
        - contracts-api
  /ext/contracts-api/v1/routes/{id}/balance:
    put:
      description: Balance a contracted route with specified balancing strategy
      operationId: RoutesManageV1Controller_balance
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BalanceRouteDto"
      responses:
        "204":
          description: Contracted route balanced successfully
        "400":
          description: Bad request - invalid input data
        "401":
          description: Unauthorized - authentication required
        "404":
          description: Contracted route not found
        "422":
          description: Validation error - input data validation failed
      summary: Balance contracted route
      tags:
        - contracts-api
  /ext/contracts-api/v1/routes/{routeUUID}:
    get:
      description: Retrieve detailed information about a specific contracted route
        including loads, requirements, and spots
      operationId: getContractedRoute
      parameters:
        - name: routeUUID
          required: true
          in: path
          description: UUID of the contracted route to retrieve
          schema:
            format: uuid
            example: dea410d9-7938-4aff-b60f-f54dab8a96d2
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RouteReadV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Get contracted route details
      tags:
        - contracts-api
  /ext/contracts-api/v1/routes/{routeUUID}/contracts:
    get:
      description: Retrieve contracts filtered by contracted route UUID with optional
        pagination
      operationId: getContractsForRoute
      parameters:
        - name: routeUUID
          required: true
          in: path
          description: UUID of the contracted route to get contracts for
          schema:
            format: uuid
            example: 129cd472-621d-47c6-af9d-591c3980a1ec
            type: string
        - name: limit
          required: false
          in: query
          description: Number of items per page
          schema:
            example: 25
            type: number
        - name: offset
          required: false
          in: query
          description: Number of items to skip
          schema:
            example: 0
            type: number
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ContractsListResponseDto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Get contracts for specific contracted route
      tags:
        - contracts-api
  /ext/contracts-api/v2/routes:
    post:
      description: Create a contracted route with internal payload as-is. Request and
        response are passed through without mapping.
      operationId: RoutesManageV2Controller_create
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRoutePayloadV2Dto"
      responses:
        "201":
          description: Downstream response (status and body passed through as-is)
      summary: Create contracted route (v2)
      tags:
        - contracts-api
    get:
      description: Get routes in v2 format with dictionary translations applied
      operationId: getRoutesV2
      parameters:
        - name: limit
          required: false
          in: query
          description: Number of items per page
          schema:
            example: 10
            type: number
        - name: offset
          required: false
          in: query
          description: Number of items to skip
          schema:
            example: 0
            type: number
      responses:
        "200":
          description: Routes in v2 format with dictionary translations applied
      security:
        - bearer: []
      summary: Get routes (v2)
      tags:
        - contracts-api
  /ext/contracts-api/v2/routes/{id}/balance:
    put:
      description: Balance a contracted route with internal payload as-is. Request and
        response are passed through without mapping.
      operationId: RoutesManageV2Controller_balance
      parameters:
        - name: id
          required: true
          in: path
          description: Route ID
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BalanceContractedRoutePayloadV2Dto"
      responses:
        "200":
          description: Downstream response (status and body passed through as-is)
        "204":
          description: Contracted route balanced successfully (no content)
        "400":
          description: Bad request - invalid input data
        "401":
          description: Unauthorized - authentication required
        "404":
          description: Contracted route not found
        "422":
          description: Validation error - input data validation failed
      summary: Balance contracted route (v2)
      tags:
        - contracts-api
  /ext/contracts-api/v2/routes/{uuid}/publication-scenario:
    put:
      description: Update publication scenario on route
      operationId: RoutesManageV2Controller_updatePublicationScenario
      parameters:
        - name: uuid
          required: true
          in: path
          schema:
            type: string
        - name: id
          required: true
          in: path
          description: Route ID
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePublicationScenarioBodyDto"
      responses:
        "200":
          description: Route updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractRouteResponseDto"
        "400":
          description: Bad request - invalid input data
        "401":
          description: Unauthorized - authentication required
        "404":
          description: Contracted route not found
        "422":
          description: Validation error - input data validation failed
      summary: Update publication scenario
      tags:
        - contracts-api
  /ext/contracts-api/v2/routes/{id}:
    get:
      description: Proxy to GET /api/rest/v3/routes/:id. Returns downstream response
        as-is with dictionary translations (DICT→ISO) applied. No
        request/response mapping — only dictionary values are translated.
      operationId: getRouteV2
      parameters:
        - name: id
          required: true
          in: path
          description: UUID of the route to retrieve
          schema:
            format: uuid
            example: dea410d9-7938-4aff-b60f-f54dab8a96d2
            type: string
      responses:
        "200":
          description: Route entity with dictionary translations applied (spots,
            requirements, loads)
        "400":
          description: Bad request
        "401":
          description: Unauthorized
        "404":
          description: Route not found
      security:
        - bearer: []
      summary: Get route by ID (v2)
      tags:
        - contracts-api
  /ext/contracts-api/v1/companies/{companyId}/settings/surcharges:
    get:
      operationId: SurchargesReadV1Controller_getCompanySurcharges
      parameters:
        - name: companyId
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SurchargesEntityV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      tags:
        - contracts-api
    post:
      operationId: SurchargesManageV1Controller_createCompanySurcharge
      parameters:
        - name: companyId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  enum:
                    - baf
                    - week_day
                    - pallets_exchange
                    - additional_stop
                  example: additional_stop
                kind:
                  type: string
                  enum:
                    - value
                    - grid
                    - linear
                  example: value
                currency:
                  type: string
                  example: bam
                description:
                  type: string
                  example: example description 1234567890
                schedules:
                  type: array
                  items:
                    type: object
                    properties:
                      data:
                        type: object
                        properties:
                          matrix:
                            type: array
                            items:
                              type: object
                              properties:
                                unit:
                                  type: string
                                  enum:
                                    - percentage
                                    - value
                                  example: value
                                value:
                                  type: number
                                  example: 100
                              required:
                                - unit
                                - value
                        required:
                          - matrix
                      timespan:
                        type: object
                        properties:
                          from:
                            type: string
                            format: date-time
                            example: 2032-08-11T00:00:00+02:00
                          to:
                            type: string
                            format: date-time
                            example: 2042-09-26T23:59:59+02:00
                        required:
                          - from
                          - to
                    required:
                      - data
                      - timespan
              required:
                - type
                - kind
                - currency
                - description
                - schedules
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SurchargesEntityV1Dto"
        "201":
          description: ""
          content:
            application/json:
              schema:
                type: object
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      tags:
        - contracts-api
  /ext/contracts-api/v1/companies/{companyId}/settings/surcharges/{id}:
    get:
      operationId: SurchargesReadV1Controller_getCompanySurcharge
      parameters:
        - name: companyId
          required: true
          in: path
          schema:
            type: string
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SurchargesEntityV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      tags:
        - contracts-api
    patch:
      operationId: SurchargesManageV1Controller_updateCompanySurchargeActivity
      parameters:
        - name: companyId
          required: true
          in: path
          schema:
            type: string
        - name: id
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                is_active:
                  type: boolean
              required:
                - is_active
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SurchargesEntityV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      tags:
        - contracts-api
    delete:
      operationId: SurchargesManageV1Controller_deleteCompanySurcharge
      parameters:
        - name: companyId
          required: true
          in: path
          schema:
            type: string
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        "204":
          description: ""
      security:
        - bearer: []
      tags:
        - contracts-api
  /ext/contracts-api/v1/companies/{companyId}/settings/surcharges/{id}/history:
    get:
      operationId: SurchargesReadV1Controller_getCompanySurchargeHistory
      parameters:
        - name: companyId
          required: true
          in: path
          schema:
            type: string
        - name: id
          required: true
          in: path
          schema:
            type: string
        - name: limit
          required: false
          in: query
          description: Max items to return
          schema:
            type: number
        - name: offset
          required: false
          in: query
          description: Items to skip
          schema:
            type: number
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SurchargesEntityV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      tags:
        - contracts-api
  /ext/contracts-api/v1/companies/{companyId}/settings/surcharges/{surchargeId}:
    put:
      operationId: SurchargesManageV1Controller_updateCompanySurcharge
      parameters:
        - name: companyId
          required: true
          in: path
          schema:
            type: string
        - name: surchargeId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  enum:
                    - baf
                    - week_day
                    - pallets_exchange
                    - additional_stop
                  example: additional_stop
                kind:
                  type: string
                  enum:
                    - value
                    - grid
                    - linear
                  example: value
                currency:
                  type: string
                  example: bam
                description:
                  type: string
                  example: example description 1234567890
                schedules:
                  type: array
                  items:
                    type: object
                    properties:
                      data:
                        type: object
                        properties:
                          matrix:
                            type: array
                            items:
                              type: object
                              properties:
                                unit:
                                  type: string
                                  enum:
                                    - percentage
                                    - value
                                  example: value
                                value:
                                  type: number
                                  example: 100
                              required:
                                - unit
                                - value
                        required:
                          - matrix
                      timespan:
                        type: object
                        properties:
                          from:
                            type: string
                            format: date-time
                            example: 2032-08-11T00:00:00+02:00
                          to:
                            type: string
                            format: date-time
                            example: 2042-09-26T23:59:59+02:00
                        required:
                          - from
                          - to
                    required:
                      - data
                      - timespan
              required:
                - type
                - kind
                - currency
                - description
                - schedules
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SurchargesEntityV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      tags:
        - contracts-api
  /ext/contracts-api/v2/companies/{companyId}/settings/surcharges/{id}/history:
    get:
      operationId: SurchargesReadV2Controller_getCompanySurchargeHistory
      parameters:
        - name: companyId
          required: true
          in: path
          schema:
            type: string
        - name: id
          required: true
          in: path
          schema:
            type: string
        - name: limit
          required: false
          in: query
          description: Max items to return
          schema:
            type: number
        - name: offset
          required: false
          in: query
          description: Items to skip
          schema:
            type: number
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SurchargeHistoryV2Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      tags:
        - contracts-api
  /ext/contracts-api/v2/companies/{companyId}/settings/surcharges:
    get:
      description: Returns all surcharge settings for a company.
      operationId: SurchargesSettingsReadV2Controller_getCompanySurcharges
      parameters:
        - name: companyId
          required: true
          in: path
          description: Company identifier
          schema:
            type: string
      responses:
        "200":
          description: Surcharge settings list
          content:
            application/json:
              schema:
                example:
                  - id: a3b1c2d4-5e6f-7a8b-9c0d-1e2f3a4b5c6d
                    type: additional_stop
                    kind: value
                    currency: eur
                    description: Additional stop flat fee
                    schedules:
                      - data:
                          matrix:
                            - unit: value
                              value: 150
                        timespan:
                          from: 2032-08-11T00:00:00+02:00
                          to: 2042-09-26T23:59:59+02:00
                    is_global: false
                    is_active: true
                  - id: b4c2d5e6-7f8a-9b0c-1d2e-3f4a5b6c7d8e
                    type: baf
                    kind: grid
                    currency: eur
                    description: Fuel surcharge tiered percentage
                    schedules:
                      - data:
                          matrix:
                            - ratio:
                                from: 1
                                to: 2
                              unit: percentage
                              value: 5
                            - ratio:
                                from: 2
                                to: 4
                              unit: percentage
                              value: 5.5
                          value: 5
                        timespan:
                          from: 2032-08-11T00:00:00+02:00
                          to: 2042-09-26T23:59:59+02:00
                    is_global: false
                    is_active: true
        "401":
          description: Unauthorized
        "403":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: List company surcharge settings
      tags:
        - contracts-api
    post:
      description: Create a new surcharge setting for a company.
      operationId: SurchargesSettingsManageV2Controller_createCompanySurcharge
      parameters:
        - name: companyId
          required: true
          in: path
          description: Company identifier
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSurchargeV2Dto"
            examples:
              additional_stop_value:
                summary: Additional stop - Value
                value:
                  type: additional_stop
                  kind: value
                  currency: eur
                  description: Additional stop flat fee
                  schedules:
                    - data:
                        matrix:
                          - unit: value
                            value: 150
                      timespan:
                        from: 2032-08-11T00:00:00+02:00
                        to: 2042-09-26T23:59:59+02:00
              baf_value:
                summary: BAF - Value
                value:
                  type: baf
                  kind: value
                  currency: eur
                  description: Fuel surcharge flat fee
                  schedules:
                    - data:
                        matrix:
                          - unit: value
                            value: 200
                      timespan:
                        from: 2032-08-11T00:00:00+02:00
                        to: 2042-09-26T23:59:59+02:00
              week_day_grid:
                summary: Week day - Grid
                value:
                  type: week_day
                  kind: grid
                  currency: eur
                  description: Weekday-based surcharges
                  schedules:
                    - data:
                        unit: value
                        week_days:
                          - id: monday
                            operations:
                              - type: loading
                                value: 10
                              - type: unloading
                                value: 15
                          - id: tuesday
                            operations:
                              - type: loading
                                value: 20
                              - type: unloading
                                value: 25
                          - id: wednesday
                            operations:
                              - type: loading
                                value: 30
                              - type: unloading
                                value: 35
                          - id: thursday
                            operations:
                              - type: loading
                                value: 40
                              - type: unloading
                                value: 45
                          - id: friday
                            operations:
                              - type: loading
                                value: 50
                              - type: unloading
                                value: 55
                          - id: saturday
                            operations:
                              - type: loading
                                value: 60
                              - type: unloading
                                value: 65
                          - id: sunday
                            operations:
                              - type: loading
                                value: 70
                              - type: unloading
                                value: 75
                          - id: holiday
                            operations:
                              - type: loading
                                value: 100
                              - type: unloading
                                value: 150
                      timespan:
                        from: 2032-08-11T00:00:00+02:00
                        to: 2042-09-26T23:59:59+02:00
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SurchargeEntityV2Dto"
        "201":
          description: Surcharge setting created successfully
          content:
            application/json:
              schema:
                example:
                  id: a3b1c2d4-5e6f-7a8b-9c0d-1e2f3a4b5c6d
                  type: additional_stop
                  kind: value
                  currency: eur
                  description: Additional stop flat fee
                  schedules:
                    - data:
                        matrix:
                          - unit: value
                            value: 150
                      timespan:
                        from: 2032-08-11T00:00:00+02:00
                        to: 2042-09-26T23:59:59+02:00
                  is_global: false
                  is_active: true
        "400":
          description: Invalid input data
        "401":
          description: Unauthorized
        "403":
          description: ""
        "404":
          description: ""
        "422":
          description: Validation error
        "424":
          description: ""
      security:
        - bearer: []
      summary: Create company surcharge setting
      tags:
        - contracts-api
  /ext/contracts-api/v2/companies/{companyId}/settings/surcharges/{id}:
    get:
      description: Returns a single surcharge setting by ID.
      operationId: SurchargesSettingsReadV2Controller_getCompanySurcharge
      parameters:
        - name: companyId
          required: true
          in: path
          description: Company identifier
          schema:
            type: string
        - name: id
          required: true
          in: path
          description: Surcharge identifier
          schema:
            type: string
      responses:
        "200":
          description: Surcharge setting details
          content:
            application/json:
              schema:
                example:
                  id: a3b1c2d4-5e6f-7a8b-9c0d-1e2f3a4b5c6d
                  type: additional_stop
                  kind: value
                  currency: eur
                  description: Additional stop flat fee
                  schedules:
                    - data:
                        matrix:
                          - unit: value
                            value: 150
                      timespan:
                        from: 2032-08-11T00:00:00+02:00
                        to: 2042-09-26T23:59:59+02:00
                  is_global: false
                  is_active: true
        "401":
          description: Unauthorized
        "403":
          description: ""
        "404":
          description: Surcharge not found
        "424":
          description: ""
      security:
        - bearer: []
      summary: Get company surcharge setting
      tags:
        - contracts-api
    put:
      description: Fully replace a surcharge setting.
      operationId: SurchargesSettingsManageV2Controller_updateCompanySurcharge
      parameters:
        - name: companyId
          required: true
          in: path
          description: Company identifier
          schema:
            type: string
        - name: id
          required: true
          in: path
          description: Surcharge identifier
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSurchargeV2Dto"
            examples:
              additional_stop_linear:
                summary: Additional stop - Linear
                value:
                  type: additional_stop
                  kind: linear
                  currency: eur
                  description: Additional stop per-unit rate
                  schedules:
                    - data:
                        matrix:
                          - unit: value
                            value: 50
                      timespan:
                        from: 2032-08-11T00:00:00+02:00
                        to: 2042-09-26T23:59:59+02:00
              baf_grid:
                summary: BAF - Grid
                value:
                  type: baf
                  kind: grid
                  currency: eur
                  description: Fuel surcharge tiered percentage
                  schedules:
                    - data:
                        matrix:
                          - ratio:
                              from: 1
                              to: 2
                            unit: percentage
                            value: 5
                          - ratio:
                              from: 2
                              to: 4
                            unit: percentage
                            value: 5.5
                        value: 5
                      timespan:
                        from: 2032-08-11T00:00:00+02:00
                        to: 2042-09-26T23:59:59+02:00
              pallets_exchange_value:
                summary: Pallets exchange - Value
                value:
                  type: pallets_exchange
                  kind: value
                  currency: eur
                  description: Pallet exchange percentage fee
                  schedules:
                    - data:
                        matrix:
                          - unit: percentage
                            value: 5
                      timespan:
                        from: 2032-08-11T00:00:00+02:00
                        to: 2042-09-26T23:59:59+02:00
      responses:
        "200":
          description: Surcharge setting replaced successfully
          content:
            application/json:
              schema:
                example:
                  id: a3b1c2d4-5e6f-7a8b-9c0d-1e2f3a4b5c6d
                  type: additional_stop
                  kind: value
                  currency: eur
                  description: Additional stop flat fee
                  schedules:
                    - data:
                        matrix:
                          - unit: value
                            value: 150
                      timespan:
                        from: 2032-08-11T00:00:00+02:00
                        to: 2042-09-26T23:59:59+02:00
                  is_global: false
                  is_active: true
        "400":
          description: Invalid input data
        "401":
          description: Unauthorized
        "403":
          description: ""
        "404":
          description: Surcharge not found
        "422":
          description: Validation error
        "424":
          description: ""
      security:
        - bearer: []
      summary: Replace company surcharge setting
      tags:
        - contracts-api
    patch:
      description: Update specific fields of a surcharge setting.
      operationId: SurchargesSettingsManageV2Controller_patchCompanySurcharge
      parameters:
        - name: companyId
          required: true
          in: path
          description: Company identifier
          schema:
            type: string
        - name: id
          required: true
          in: path
          description: Surcharge identifier
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchSurchargeV2Dto"
            examples:
              update_description:
                summary: Update description only
                value:
                  description: Updated surcharge description
              update_schedules:
                summary: Update schedules
                value:
                  schedules:
                    - data:
                        matrix:
                          - unit: value
                            value: 250
                      timespan:
                        from: 2033-01-01T00:00:00+02:00
                        to: 2043-12-31T23:59:59+02:00
              update_currency_and_description:
                summary: Update currency and description
                value:
                  currency: pln
                  description: Updated to PLN
      responses:
        "200":
          description: Surcharge setting partially updated
          content:
            application/json:
              schema:
                example:
                  id: a3b1c2d4-5e6f-7a8b-9c0d-1e2f3a4b5c6d
                  type: additional_stop
                  kind: value
                  currency: eur
                  description: Additional stop flat fee
                  schedules:
                    - data:
                        matrix:
                          - unit: value
                            value: 150
                      timespan:
                        from: 2032-08-11T00:00:00+02:00
                        to: 2042-09-26T23:59:59+02:00
                  is_global: false
                  is_active: true
        "400":
          description: Invalid input data
        "401":
          description: Unauthorized
        "403":
          description: ""
        "404":
          description: Surcharge not found
        "422":
          description: Validation error
        "424":
          description: ""
      security:
        - bearer: []
      summary: Partially update company surcharge setting
      tags:
        - contracts-api
    delete:
      description: Remove a surcharge setting.
      operationId: SurchargesSettingsManageV2Controller_deleteCompanySurcharge
      parameters:
        - name: companyId
          required: true
          in: path
          description: Company identifier
          schema:
            type: string
        - name: id
          required: true
          in: path
          description: Surcharge identifier
          schema:
            type: string
      responses:
        "204":
          description: Surcharge setting deleted
        "401":
          description: Unauthorized
        "404":
          description: Surcharge not found
      security:
        - bearer: []
      summary: Delete company surcharge setting
      tags:
        - contracts-api
components:
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
  schemas:
    CommonPriceDto:
      type: object
      properties:
        currency:
          type: string
          example: bam
          description: Currency code (e.g., bam, eur, pln)
        value:
          type: number
          nullable: true
          example: 1000.5
        amount:
          type: number
          nullable: true
          example: 10
    PriceDto:
      type: object
      properties:
        value:
          type: number
          example: 100
        currency:
          type: string
          enum:
            - eur
            - all
            - bam
            - bgn
            - czk
            - gbp
            - huf
            - isk
            - kzt
            - kgs
            - mkd
            - mdl
            - pln
            - ron
            - rub
            - rsd
            - sek
            - chf
            - try
            - uah
            - byn
            - usd
            - hrk
            - dkk
            - nok
          example: USD
      required:
        - value
        - currency
    PeriodDto:
      type: object
      properties:
        payment:
          type: string
          enum:
            - deferred
            - payment_in_advance
            - payment_on_unloading
          example: deferred
        days:
          type: number
          nullable: true
          example: 5
      required:
        - payment
    RouteDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 0eeaa993-e35e-4155-ae16-cd904719768b
      required:
        - id
    TimespanDto:
      type: object
      properties:
        from:
          type: string
          example: 2032-08-11T00:00:00+02:00
        to:
          type: string
          example: 2042-09-26T23:59:59+02:00
      required:
        - from
        - to
    ScheduleDto:
      type: object
      properties:
        data:
          type: object
        timespan:
          $ref: "#/components/schemas/TimespanDto"
      required:
        - data
        - timespan
    SurchargeDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 9dd634fa-393b-4ad1-96c3-d61ee84f5e8e
        currency:
          type: string
          example: 4_bam
        description:
          type: string
          example: example description 1234567890
        kind:
          type: string
          example: 1_value
        type:
          type: string
          example: 1_baf
        is_global:
          type: boolean
          example: true
        is_active:
          type: boolean
          example: true
        schedules:
          type: array
          items:
            $ref: "#/components/schemas/ScheduleDto"
      required:
        - id
        - currency
        - description
        - kind
        - type
        - is_global
        - is_active
        - schedules
    CarrierCompanyDto:
      type: object
      properties:
        id:
          type: number
          example: 1023108
        name:
          type: string
          example: Carrier Company
      required:
        - id
        - name
    EmployeeDto:
      type: object
      properties:
        account_id:
          type: number
          example: 170546
        given_name:
          type: string
          example: Name
        family_name:
          type: string
          example: Surname
        trans_id:
          type: string
          example: 123-1
      required:
        - account_id
        - given_name
        - family_name
        - trans_id
    ContactPersonDto:
      type: object
      properties:
        employee:
          $ref: "#/components/schemas/EmployeeDto"
      required:
        - employee
    CarrierDto:
      type: object
      properties:
        company:
          $ref: "#/components/schemas/CarrierCompanyDto"
        contact_persons:
          example:
            - employee:
                account_id: 170546
          type: array
          items:
            $ref: "#/components/schemas/ContactPersonDto"
      required:
        - company
        - contact_persons
    PaymentPeriodDto:
      type: object
      properties:
        value:
          type: number
          example: 10
      required:
        - value
    InsuranceItemDto:
      type: object
      properties:
        currency:
          type: string
          nullable: true
          example: pln
        value:
          type: number
          nullable: true
          example: 1
      required:
        - currency
        - value
    InsuranceDto:
      type: object
      properties:
        load:
          $ref: "#/components/schemas/InsuranceItemDto"
        third_party:
          $ref: "#/components/schemas/InsuranceItemDto"
      required:
        - load
        - third_party
    MonitoringDto:
      type: object
      properties:
        required:
          type: boolean
          example: false
      required:
        - required
    SilentConfirmationTimeDto:
      type: object
      properties:
        unit_code:
          type: string
          nullable: true
          example: s
        user_unit_code:
          type: string
          nullable: true
          example: min
        value:
          type: number
          nullable: true
          example: 3600
      required:
        - unit_code
        - user_unit_code
        - value
    SilentConfirmationDto:
      type: object
      properties:
        enabled:
          type: boolean
          example: true
        time:
          $ref: "#/components/schemas/SilentConfirmationTimeDto"
      required:
        - enabled
        - time
    OrderTermsDto:
      type: object
      properties:
        automatic_order_sending:
          type: boolean
          example: false
        payment_period:
          $ref: "#/components/schemas/PaymentPeriodDto"
        additional_terms:
          type: string
          nullable: true
          example: additional_terms
        insurance:
          $ref: "#/components/schemas/InsuranceDto"
        monitoring:
          $ref: "#/components/schemas/MonitoringDto"
        silent_confirmation:
          $ref: "#/components/schemas/SilentConfirmationDto"
      required:
        - automatic_order_sending
        - payment_period
        - additional_terms
        - insurance
        - monitoring
        - silent_confirmation
    PlannedShipmentPeriodDto:
      type: object
      properties:
        from:
          type: string
          example: 2025-08-15T02:00:00+02:00
        to:
          type: string
          example: 2025-08-23T01:59:59+02:00
        value:
          type: number
          example: 5
      required:
        - from
        - to
        - value
    PlannedShipmentsDto:
      type: object
      properties:
        periods:
          example:
            - from: 2025-08-15T02:00:00+02:00
              to: 2025-08-23T01:59:59+02:00
              value: 5
          type: array
          items:
            $ref: "#/components/schemas/PlannedShipmentPeriodDto"
        type:
          type: string
          nullable: true
          example: required
        unit:
          type: string
          nullable: true
          example: shipment
        value:
          type: number
          nullable: true
          example: 1
      required:
        - periods
        - type
        - unit
        - value
    RangeDto:
      type: object
      properties:
        from:
          type: number
          example: 1
        to:
          type: number
          example: 10
      required:
        - from
        - to
    PriceListItemDto:
      type: object
      properties:
        price:
          $ref: "#/components/schemas/PriceDto"
        range:
          $ref: "#/components/schemas/RangeDto"
      required:
        - price
        - range
    PricingDto:
      type: object
      properties:
        negotiable:
          type: boolean
          example: false
        type:
          type: string
          example: km
          description: "Pricing type: route, km, no_rate, ton, linear, pallets"
        price:
          example:
            value: 100
            currency: 14_pln
          allOf:
            - $ref: "#/components/schemas/PriceDto"
        price_list:
          example:
            - price:
                value: 100
                currency: 14_pln
              range:
                from: 1
                to: 5
          type: array
          items:
            $ref: "#/components/schemas/PriceListItemDto"
        settlement_basis:
          type: string
          example: 4_distance_declared_in_order_terms
          description: Required for km and ton pricing types
      required:
        - negotiable
        - type
    ContractResponseDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: a5eb2429-0531-4ffd-824a-9d617272ad90
        route:
          example:
            id: aafa9935-8baf-4580-be1f-a3d06e5f8ee6
          allOf:
            - $ref: "#/components/schemas/RouteDto"
        surcharges:
          example:
            - id: 9dd634fa-393b-4ad1-96c3-d61ee84f5e8e
          type: array
          items:
            $ref: "#/components/schemas/SurchargeDto"
        period:
          $ref: "#/components/schemas/PeriodDto"
        carrier:
          $ref: "#/components/schemas/CarrierDto"
        order_terms:
          $ref: "#/components/schemas/OrderTermsDto"
        planned_shipments:
          $ref: "#/components/schemas/PlannedShipmentsDto"
        pricing:
          $ref: "#/components/schemas/PricingDto"
        reference_number:
          type: string
          example: reference_number
      required:
        - id
        - route
        - surcharges
        - period
        - carrier
        - order_terms
        - planned_shipments
        - pricing
        - reference_number
    ContractsListResponseDto:
      type: object
      properties:
        contracts:
          type: array
          items:
            $ref: "#/components/schemas/ContractResponseDto"
        total_items:
          type: number
      required:
        - contracts
        - total_items
    RoutePricingDto:
      type: object
      properties:
        negotiable:
          type: boolean
          example: true
        type:
          enum:
            - route
          type: string
          example: route
        price:
          $ref: "#/components/schemas/CommonPriceDto"
      required:
        - negotiable
        - type
        - price
    KmPricingDto:
      type: object
      properties:
        negotiable:
          type: boolean
          example: true
        type:
          enum:
            - km
          type: string
          example: route
        price:
          $ref: "#/components/schemas/CommonPriceDto"
        settlement_basis:
          type: string
          example: distance
          description: Settlement basis (e.g., distance, weight)
      required:
        - negotiable
        - type
        - price
        - settlement_basis
    CurrencyOnlyDto:
      type: object
      properties:
        currency:
          type: string
          example: bam
          description: Currency code (e.g., bam, eur, pln)
      required:
        - currency
    NoRatePricingDto:
      type: object
      properties:
        negotiable:
          type: boolean
          example: true
        type:
          enum:
            - no_rate
          type: string
          example: route
        price:
          $ref: "#/components/schemas/CurrencyOnlyDto"
      required:
        - negotiable
        - type
        - price
    TonPricingDto:
      type: object
      properties:
        negotiable:
          type: boolean
          example: true
        type:
          enum:
            - ton
          type: string
          example: route
        price:
          $ref: "#/components/schemas/CommonPriceDto"
        settlement_basis:
          type: string
          example: weight
          description: Settlement basis (e.g., distance, weight)
      required:
        - negotiable
        - type
        - price
        - settlement_basis
    PalletsPricingDto:
      type: object
      properties:
        negotiable:
          type: boolean
          example: true
        type:
          enum:
            - pallets
          type: string
          example: route
        price:
          type: object
        price_list:
          type: array
          items:
            $ref: "#/components/schemas/PriceListItemDto"
      required:
        - negotiable
        - type
        - price
        - price_list
    LinearPricingDto:
      type: object
      properties:
        negotiable:
          type: boolean
          example: true
        type:
          enum:
            - linear
          type: string
          example: route
        price:
          $ref: "#/components/schemas/CommonPriceDto"
      required:
        - negotiable
        - type
        - price
    ConfigDto:
      type: object
      properties:
        send_to_carrier:
          type: boolean
      required:
        - send_to_carrier
    CreateContractDto:
      type: object
      properties:
        base_contract_id:
          type: string
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        route:
          $ref: "#/components/schemas/RouteDto"
        surcharges:
          type: array
          items:
            $ref: "#/components/schemas/SurchargeDto"
        period:
          $ref: "#/components/schemas/PeriodDto"
        carrier:
          $ref: "#/components/schemas/CarrierDto"
        order_terms:
          $ref: "#/components/schemas/OrderTermsDto"
        planned_shipments:
          $ref: "#/components/schemas/PlannedShipmentsDto"
        pricing:
          oneOf:
            - $ref: "#/components/schemas/RoutePricingDto"
            - $ref: "#/components/schemas/KmPricingDto"
            - $ref: "#/components/schemas/NoRatePricingDto"
            - $ref: "#/components/schemas/TonPricingDto"
            - $ref: "#/components/schemas/PalletsPricingDto"
            - $ref: "#/components/schemas/LinearPricingDto"
          discriminator:
            propertyName: type
        reference_number:
          type: string
          minLength: 1
          maxLength: 255
          example: CONTRACT-2024-001
        config:
          $ref: "#/components/schemas/ConfigDto"
      required:
        - route
        - period
        - carrier
        - order_terms
        - pricing
        - reference_number
        - config
    UpdateContractDto:
      type: object
      properties:
        route:
          $ref: "#/components/schemas/RouteDto"
        surcharges:
          type: array
          items:
            $ref: "#/components/schemas/SurchargeDto"
        period:
          $ref: "#/components/schemas/PeriodDto"
        carrier:
          $ref: "#/components/schemas/CarrierDto"
        order_terms:
          $ref: "#/components/schemas/OrderTermsDto"
        planned_shipments:
          $ref: "#/components/schemas/PlannedShipmentsDto"
        pricing:
          oneOf:
            - $ref: "#/components/schemas/RoutePricingDto"
            - $ref: "#/components/schemas/KmPricingDto"
            - $ref: "#/components/schemas/NoRatePricingDto"
            - $ref: "#/components/schemas/TonPricingDto"
            - $ref: "#/components/schemas/PalletsPricingDto"
            - $ref: "#/components/schemas/LinearPricingDto"
          discriminator:
            propertyName: type
        reference_number:
          type: string
          minLength: 1
          maxLength: 255
          example: CONTRACT-2024-001
        config:
          $ref: "#/components/schemas/ConfigDto"
      required:
        - route
        - period
        - carrier
        - order_terms
        - pricing
        - reference_number
        - config
    CarrierCompanyV2Dto:
      type: object
      properties:
        id:
          type: number
          example: 12345
      required:
        - id
    ContactPersonEmployeeV2Dto:
      type: object
      properties:
        account_id:
          type: number
          example: 67890
      required:
        - account_id
    ContactPersonV2Dto:
      type: object
      properties:
        employee:
          $ref: "#/components/schemas/ContactPersonEmployeeV2Dto"
      required:
        - employee
    CarrierV2Dto:
      type: object
      properties:
        company:
          $ref: "#/components/schemas/CarrierCompanyV2Dto"
        contact_persons:
          type: array
          items:
            $ref: "#/components/schemas/ContactPersonV2Dto"
    PeriodV2Dto:
      type: object
      properties:
        from:
          type: string
          example: 2027-01-01T00:00:00.000Z
        to:
          type: string
          example: 2027-12-31T23:59:59.000Z
        timezone:
          type: string
          example: Europe/Warsaw
      required:
        - from
    MonitoringV2Dto:
      type: object
      properties:
        required:
          type: boolean
    InsurancePropertyV2Dto:
      type: object
      properties:
        value:
          type: number
          nullable: true
          minimum: 0
          maximum: 999999999
          example: 5000
        currency:
          type: string
          nullable: true
          example: EUR
          description: Currency code (e.g., EUR, PLN)
    InsuranceV2Dto:
      type: object
      properties:
        load:
          $ref: "#/components/schemas/InsurancePropertyV2Dto"
        third_party:
          $ref: "#/components/schemas/InsurancePropertyV2Dto"
    PaymentPeriodV2Dto:
      type: object
      properties:
        interval_of_days:
          type: number
          minimum: 1
          maximum: 999
          example: 30
        days_type:
          enum:
            - WORK
            - CALENDAR
          type: string
        value:
          type: number
          minimum: 0
          maximum: 999
          example: 30
    SilentConfirmationTimeV2Dto:
      type: object
      properties:
        begin:
          type: string
          example: 2027-01-01T00:00:00.000Z
        end:
          type: string
          example: 2027-12-31T23:59:59.000Z
        value:
          type: number
          minimum: 300
          maximum: 86400
          example: 300
        unit_code:
          type: string
          enum:
            - s
        user_unit_code:
          enum:
            - min
            - h
          type: string
    SilentConfirmationV2Dto:
      type: object
      properties:
        is_enabled:
          type: boolean
        enabled:
          type: boolean
        time:
          $ref: "#/components/schemas/SilentConfirmationTimeV2Dto"
    OrderTermsV2Dto:
      type: object
      properties:
        monitoring:
          $ref: "#/components/schemas/MonitoringV2Dto"
        additional_terms:
          type: string
          maxLength: 2000
          example: Additional terms text
        insurance:
          $ref: "#/components/schemas/InsuranceV2Dto"
        automatic_order_sending:
          type: boolean
        payment_period:
          $ref: "#/components/schemas/PaymentPeriodV2Dto"
        silent_confirmation:
          $ref: "#/components/schemas/SilentConfirmationV2Dto"
    PlannedShipmentsPeriodV2Dto:
      type: object
      properties:
        from:
          type: string
          example: 2027-01-01T00:00:00.000Z
        to:
          type: string
          example: 2027-12-31T23:59:59.000Z
        value:
          type: number
          example: 100
      required:
        - from
        - to
        - value
    PlannedShipmentsV2Dto:
      type: object
      properties:
        periods:
          type: array
          items:
            $ref: "#/components/schemas/PlannedShipmentsPeriodV2Dto"
        type:
          type: string
          example: required
          description: Planned shipments type from dictionary (e.g. required, expected,
            no_more_than)
        unit:
          type: string
          example: shipment
          description: Planned shipments unit from dictionary (e.g. shipment, ton, km)
        value:
          type: number
          minimum: 0
          maximum: 9999999
          example: 100
    PriceV2Dto:
      type: object
      properties:
        value:
          type: number
          example: 1500
        currency:
          type: string
          example: EUR
          description: Currency code (e.g., EUR, PLN)
        amount:
          type: number
          example: 1500
    PriceRangeV2Dto:
      type: object
      properties:
        from:
          type: number
          minimum: 1
          maximum: 66
          example: 1
        to:
          type: number
          minimum: 1
          maximum: 66
          example: 66
      required:
        - from
        - to
    PriceListV2Dto:
      type: object
      properties:
        price:
          $ref: "#/components/schemas/PriceV2Dto"
        range:
          $ref: "#/components/schemas/PriceRangeV2Dto"
      required:
        - range
    PricingV2Dto:
      type: object
      properties:
        type:
          enum:
            - route
            - km
            - linear
            - pallets
            - no_rate
            - ton
          type: string
          example: route
        negotiable:
          type: boolean
        price:
          $ref: "#/components/schemas/PriceV2Dto"
        price_list:
          $ref: "#/components/schemas/PriceListV2Dto"
        settlement_basis:
          type: string
          example: net_net
          description: Settlement basis from dictionary
      required:
        - type
        - negotiable
    RouteV2Dto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      required:
        - id
    SurchargeRangeDto:
      type: object
      properties:
        from:
          type: number
          example: 1
        to:
          type: number
          example: 2
      required:
        - from
        - to
    SurchargeRatioDto:
      type: object
      properties:
        from:
          type: number
          example: 1
        to:
          type: number
          example: 2
      required:
        - from
        - to
    SurchargeMatrixItemDto:
      type: object
      properties:
        unit:
          type: string
          enum:
            - percentage
            - value
          example: value
        value:
          type: number
          example: 100
        basis:
          type: string
          enum:
            - range
        range:
          $ref: "#/components/schemas/SurchargeRangeDto"
        ratio:
          $ref: "#/components/schemas/SurchargeRatioDto"
      required:
        - unit
        - value
    WeekDayOperationDto:
      type: object
      properties:
        type:
          type: string
          example: loading
        value:
          type: number
          example: 10
      required:
        - type
        - value
    WeekDayDto:
      type: object
      properties:
        operations:
          type: array
          items:
            $ref: "#/components/schemas/WeekDayOperationDto"
        id:
          type: string
      required:
        - operations
        - id
    SurchargeDataDto:
      type: object
      properties:
        matrix:
          type: array
          items:
            $ref: "#/components/schemas/SurchargeMatrixItemDto"
        value:
          type: number
          example: 5
        unit:
          type: string
          enum:
            - percentage
            - value
        week_days:
          type: array
          items:
            $ref: "#/components/schemas/WeekDayDto"
    SurchargeTimespanDto:
      type: object
      properties:
        from:
          type: string
          example: 2032-08-11T00:00:00+02:00
        to:
          type: string
          example: 2042-09-26T23:59:59+02:00
      required:
        - from
        - to
    SurchargeScheduleDto:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/SurchargeDataDto"
        timespan:
          $ref: "#/components/schemas/SurchargeTimespanDto"
      required:
        - data
        - timespan
    SurchargesV2Dto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
        description:
          type: string
          minLength: 1
          maxLength: 30
          example: BAF
        type:
          type: string
          example: baf
          description: Surcharge type from dictionary
        kind:
          type: string
          example: value
          description: Surcharge kind from dictionary
        currency:
          type: string
          example: EUR
          description: Currency code (e.g., EUR, PLN)
        data:
          $ref: "#/components/schemas/SurchargeDataDto"
        schedules:
          type: array
          items:
            $ref: "#/components/schemas/SurchargeScheduleDto"
    ConfigV2Dto:
      type: object
      properties:
        send_to_carrier:
          type: boolean
      required:
        - send_to_carrier
    CreateFixedContractV2Dto:
      type: object
      properties:
        carrier:
          $ref: "#/components/schemas/CarrierV2Dto"
        period:
          $ref: "#/components/schemas/PeriodV2Dto"
        order_terms:
          $ref: "#/components/schemas/OrderTermsV2Dto"
        planned_shipments:
          $ref: "#/components/schemas/PlannedShipmentsV2Dto"
        pricing:
          $ref: "#/components/schemas/PricingV2Dto"
        reference_number:
          type: string
          minLength: 1
          maxLength: 255
          example: CONTRACT-2024-001
        route:
          $ref: "#/components/schemas/RouteV2Dto"
        surcharges:
          type: array
          items:
            $ref: "#/components/schemas/SurchargesV2Dto"
        base_contract_id:
          type: string
          format: uuid
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
        config:
          $ref: "#/components/schemas/ConfigV2Dto"
      required:
        - period
        - pricing
        - route
        - config
    UpdateFixedCarrierCompanyV2Dto:
      type: object
      properties:
        id:
          type: number
          example: 12345
          description: Internal identifier of the carrier company.
      required:
        - id
    UpdateFixedContactEmployeeV2Dto:
      type: object
      properties:
        account_id:
          type: number
          example: 67890
          description: Account identifier of the employee acting as contact person.
      required:
        - account_id
    UpdateFixedContactPersonsWrapperV2Dto:
      type: object
      properties:
        employee:
          description: Employee data for the primary contact person.
          allOf:
            - $ref: "#/components/schemas/UpdateFixedContactEmployeeV2Dto"
      required:
        - employee
    UpdateFixedCarrierV2Dto:
      type: object
      properties:
        company:
          description: Carrier company to associate with the contract.
          allOf:
            - $ref: "#/components/schemas/UpdateFixedCarrierCompanyV2Dto"
        contact_persons:
          description: Contact person for the carrier (single object in update API).
          allOf:
            - $ref: "#/components/schemas/UpdateFixedContactPersonsWrapperV2Dto"
    UpdateFixedPeriodV2Dto:
      type: object
      properties:
        from:
          type: string
          example: 2027-01-01T00:00:00.000Z
          description: Contract validity interval start (ISO-8601).
        to:
          type: string
          example: 2027-12-31T23:59:59.000Z
          description: Contract validity interval end (ISO-8601), if applicable.
        timezone:
          type: string
          example: Europe/Warsaw
          description: IANA timezone name for interpreting period boundaries.
      required:
        - from
    UpdateFixedMonitoringV2Dto:
      type: object
      properties:
        required:
          type: boolean
          description: Whether shipment monitoring is mandatory under this contract.
    UpdateFixedInsurancePropertyV2Dto:
      type: object
      properties:
        value:
          type: number
          nullable: true
          minimum: 0
          maximum: 999999999
          example: 5000
          description: Monetary value for the insured limit.
        currency:
          type: string
          nullable: true
          example: EUR
          description: ISO currency code (dictionary value on wire to upstream).
    UpdateFixedInsuranceV2Dto:
      type: object
      properties:
        load:
          $ref: "#/components/schemas/UpdateFixedInsurancePropertyV2Dto"
        third_party:
          $ref: "#/components/schemas/UpdateFixedInsurancePropertyV2Dto"
    UpdateFixedPaymentPeriodV2Dto:
      type: object
      properties:
        interval_of_days:
          type: number
          minimum: 1
          maximum: 999
          example: 30
          description: Payment term length in days.
        days_type:
          enum:
            - WORK
[...]
