openapi: 3.0.0
info:
  title: freights-api
  description: ""
  version: 1.113.4
  contact: {}
servers:
  - url: https://api.platform.trans.eu
    description: PROD
tags: []
paths:
  /ext/freights-api/v1/freights/{id}:
    get:
      operationId: FreightsReadV1Controller_getFreightEntity
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FreightEntityV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Get freight details
      tags:
        - freights-api
        - Freight management
    put:
      operationId: FreightsManageV1Controller_putFreightsEntity
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/FreightsUpdatePayloadAllV1Dto"
                - $ref: "#/components/schemas/FreightsUpdatePayloadAutoV1Dto"
                - $ref: "#/components/schemas/FreightsUpdatePayloadPublicV1Dto"
                - $ref: "#/components/schemas/FreightsUpdatePayloadCompaniesV1Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsUpdatedEntityV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Update freight
      tags:
        - freights-api
        - Freight management
    delete:
      operationId: FreightsManageV1Controller_deleteEntity
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      responses:
        "204":
          description: No Content
      security:
        - bearer: []
      summary: Delete freight
      tags:
        - freights-api
        - Freight management
  /ext/freights-api/v1/freights:
    get:
      operationId: FreightsReadV1Controller_getFreightsCollection
      parameters:
        - name: page
          required: false
          in: query
          schema:
            minimum: 1
            default: 1
            type: number
        - name: perPage
          required: false
          in: query
          schema:
            minimum: 1
            maximum: 30
            default: 10
            type: number
        - name: sortBy
          required: false
          in: query
          schema:
            default: createdAt
            type: string
        - name: order
          required: false
          in: query
          schema:
            default: desc
            type: string
            enum:
              - asc
              - desc
        - name: search
          required: false
          in: query
          schema:
            type: string
        - name: fields
          required: false
          in: query
          schema:
            $ref: "#/components/schemas/Object"
        - name: filter
          required: false
          in: query
          style: deepObject
          explode: true
          schema:
            $ref: "#/components/schemas/FreightsCollectionActiveQueryFilterV1Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FreightsCollectionItemV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Get freights list
      tags:
        - freights-api
        - Freight management
    post:
      operationId: FreightsManageV1Controller_postFreightsEntity
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/FreightsCreatePayloadAllV1Dto"
                - $ref: "#/components/schemas/FreightsCreatePayloadAutoV1Dto"
                - $ref: "#/components/schemas/FreightsCreatePayloadPublicV1Dto"
                - $ref: "#/components/schemas/FreightsCreatePayloadCompaniesV1Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV1Dto"
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsUpdatedEntityV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Create freight
      tags:
        - freights-api
        - Freight creation
  /ext/freights-api/v1/accepted:
    get:
      operationId: FreightsReadV1Controller_getAcceptedFreightsCollection
      parameters:
        - name: page
          required: false
          in: query
          schema:
            minimum: 1
            default: 1
            type: number
        - name: perPage
          required: false
          in: query
          schema:
            minimum: 1
            maximum: 30
            default: 10
            type: number
        - name: sortBy
          required: false
          in: query
          schema:
            default: createdAt
            type: string
        - name: order
          required: false
          in: query
          schema:
            default: desc
            type: string
            enum:
              - asc
              - desc
        - name: search
          required: false
          in: query
          schema:
            type: string
        - name: fields
          required: false
          in: query
          schema:
            $ref: "#/components/schemas/Object"
        - name: filter
          required: false
          in: query
          schema:
            $ref: "#/components/schemas/Object"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FreightsCollectionAcceptedItemV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Get accepted freights list
      tags:
        - freights-api
        - Freight management
  /ext/freights-api/v1/archive:
    get:
      operationId: FreightsReadV1Controller_getArchiveFreightsCollection
      parameters:
        - name: page
          required: false
          in: query
          schema:
            minimum: 1
            default: 1
            type: number
        - name: perPage
          required: false
          in: query
          schema:
            minimum: 1
            maximum: 30
            default: 10
            type: number
        - name: sortBy
          required: false
          in: query
          schema:
            default: createdAt
            type: string
        - name: order
          required: false
          in: query
          schema:
            default: desc
            type: string
            enum:
              - asc
              - desc
        - name: search
          required: false
          in: query
          schema:
            type: string
        - name: fields
          required: false
          in: query
          schema:
            $ref: "#/components/schemas/Object"
        - name: filter
          required: false
          in: query
          schema:
            $ref: "#/components/schemas/Object"
        - name: filters
          required: false
          in: query
          style: deepObject
          explode: true
          schema:
            $ref: "#/components/schemas/FreightsCollectionArchiveQueryFilterV1Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FreightsCollectionItemV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Get archived freights list
      tags:
        - freights-api
        - Freight management
  /ext/freights-api/v1/freights/{id}/offers:
    get:
      operationId: FreightsReadV1Controller_getOffersCollection
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FreightsOffersCollectionItemV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Get freight offers list
      tags:
        - freights-api
        - Price offer negotiation
  /ext/freights-api/v1/freight-proposals/accepted:
    get:
      operationId: FreightsReadV1Controller_getAcceptedProposalsCollection
      parameters:
        - name: pagination
          required: false
          in: query
          description: JSON string, e.g. {"limit":25,"search_after":"cursor"}
          schema:
            type: string
            example: '{"limit":25}'
        - name: search
          required: false
          in: query
          description: JSON string, e.g. {"value":"Berlin"}
          schema:
            type: string
            example: '{"value":"Berlin"}'
        - name: filter
          required: false
          in: query
          description: JSON string, e.g. {"reference_number":"REF-001"}
          schema:
            type: string
            example: '{"reference_number":"FR/2026/01/01/XXXX"}'
      responses:
        "200":
          description: "Returns accepted freight proposals. Role-based: carriers see their
            own accepted offers, shippers see offers accepted by carriers."
        "401":
          description: ""
        "403":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Get accepted freight proposals
      tags:
        - freights-api
        - Freight proposals
  /ext/freights-api/v1/freight-proposals/archived:
    get:
      operationId: FreightsReadV1Controller_getArchivedProposalsCollection
      parameters:
        - name: pagination
          required: false
          in: query
          description: JSON string, e.g. {"limit":25,"search_after":"cursor"}
          schema:
            type: string
            example: '{"limit":25}'
        - name: search
          required: false
          in: query
          description: JSON string
          schema:
            type: string
        - name: filter
          required: false
          in: query
          description: JSON string, e.g. {"reference_number":"REF-001"}
          schema:
            type: string
            example: '{"reference_number":"FR/2026/01/01/XXXX"}'
      responses:
        "200":
          description: Returns archived freight proposals.
        "401":
          description: ""
        "403":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Get archived freight proposals
      tags:
        - freights-api
        - Freight proposals
  /ext/freights-api/v1/freights/{id}/receivers:
    get:
      operationId: FreightsReadV1Controller_getFreightReceivers
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightReceiversV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Get freight publication receivers
      tags:
        - freights-api
        - Freight publication
    post:
      operationId: FreightsManageV1Controller_addReceivers
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightExtendedReceiversBody"
            examples:
              EMPLOYEE:
                summary: EMPLOYEE
                value:
                  receivers:
                    - type: employee
                      id: 2-172010
                      terms:
                        price:
                          value: 911
                          currency: pln
                        period:
                          payment: deferred
                          days: 360
                        is_first_buy: true
              COMPANY:
                summary: COMPANY
                value:
                  receivers:
                    - type: company
                      id: "105"
                      contact_employees:
                        - 3-123
                        - 3-456
                      terms:
                        price:
                          value: 911
                          currency: pln
                        period:
                          payment: deferred
                          days: 360
                        is_first_buy: true
              COMMUNITY_EXCHANGE:
                summary: COMMUNITY_EXCHANGE
                value:
                  receivers:
                    - type: community_exchange
                      id: 249b28d1-38f5-4a1c-a1ac-fd259d1332a1
                      terms:
                        price:
                          value: 911
                          currency: pln
                        period:
                          payment: deferred
                          days: 360
                        is_first_buy: true
              CORPORATE_EXCHANGE:
                summary: CORPORATE_EXCHANGE
                value:
                  receivers:
                    - type: corporate_exchange
                      id: 249b28d1-38f5-4a1c-a1ac-fd259d1332a3
                      terms:
                        price:
                          value: 911
                          currency: eur
                        period:
                          payment: deferred
                          days: 360
                        is_first_buy: true
              PRIVATE_EXCHANGE:
                summary: PRIVATE_EXCHANGE
                value:
                  receivers:
                    - type: private_exchange
                      id: 249b28d1-38f5-4a1c-a1ac-fd259d1332a4
                      terms:
                        price:
                          value: 911
                          currency: pln
                        period:
                          payment: deferred
                          days: 360
                        is_first_buy: true
              PUBLIC_EXCHANGE:
                summary: PUBLIC_EXCHANGE
                value:
                  receivers:
                    - type: public_exchange
                      terms:
                        price:
                          value: 911
                          currency: pln
                        period:
                          payment: deferred
                          days: 360
                        is_first_buy: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  direct:
                    type: object
                    properties:
                      id:
                        type: string
                        example: e53bce85-a8a5-4a37-bc61-6e93809a3ebd
                      group_id:
                        type: string
                        example: a47bce85-a8a5-4a37-bc61-6e93809a3rty
      security:
        - bearer: []
      summary: Add freight publication receivers
      tags:
        - freights-api
        - Freight publication
  /ext/freights-api/v1/freight-auto/{id}:
    put:
      operationId: FreightsManageV1Controller_putFreightsEntityAuto
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsUpdatePayloadAutoV1Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsUpdatedEntityV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Update freight (auto)
      tags:
        - freights-api
        - Freight management
  /ext/freights-api/v1/freight-exchange/{id}:
    put:
      operationId: FreightsManageV1Controller_putFreightsEntityExchange
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsUpdatePayloadPublicV1Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsUpdatedEntityV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Update freight for exchange
      tags:
        - freights-api
        - Freight management
  /ext/freights-api/v1/private-exchange/{id}:
    put:
      operationId: FreightsManageV1Controller_putFreightsEntityExchangePrivate
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsUpdatePayloadExchangesV1Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsUpdatedEntityV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Update freight for private exchange
      tags:
        - freights-api
        - Freight management
  /ext/freights-api/v1/freight-corporate/{id}:
    put:
      operationId: FreightsManageV1Controller_putFreightsEntityExchangeCorporate
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsUpdatePayloadExchangesV1Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsUpdatedEntityV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Update freight for corporate exchange
      tags:
        - freights-api
        - Freight management
  /ext/freights-api/v1/freight-companies/{id}:
    put:
      operationId: FreightsManageV1Controller_putFreightsEntityCompanies
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsUpdatePayloadCompaniesV1Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsUpdatedEntityV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Update freight for companies
      tags:
        - freights-api
        - Freight management
  /ext/freights-api/v1/freight-employees/{id}:
    put:
      operationId: FreightsManageV1Controller_putFreightsEntityEmployees
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsUpdatePayloadEmployeesV1Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsUpdatedEntityV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Update freight for employees
      tags:
        - freights-api
        - Freight management
  /ext/freights-api/v1/freights/{id}/archive:
    post:
      operationId: FreightsManageV1Controller_postArchiveEntity
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      responses:
        "200":
          description: Freight archived successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Freight has been successfully archived
        "404":
          description: Freight not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html
                  title:
                    type: string
                    example: Not Found
                  status:
                    type: number
                    example: 404
                  detail:
                    type: string
                    example: "Freight not found (id: 1)"
      security:
        - bearer: []
      summary: Archive freight
      tags:
        - freights-api
        - Freight publication
  /ext/freights-api/v1/freights/archive:
    post:
      operationId: FreightsManageV1Controller_postArchiveBulk
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: number
              example:
                - 1821180
                - 1821177
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsArchiveCollectionV1Dto"
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsArchiveCollectionV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Archive freights (bulk)
      tags:
        - freights-api
        - Freight publication
  /ext/freights-api/v1/cancelPublication/{id}:
    post:
      operationId: FreightsManageV1Controller_postCancelPublicationEntity
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      responses:
        "201":
          description: No Content
        "404":
          description: Freight not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html
                  title:
                    type: string
                    example: Not Found
                  status:
                    type: number
                    example: 404
                  detail:
                    type: string
                    example: "Freight not found (id: 1)"
      security:
        - bearer: []
      summary: Cancel freight publication
      tags:
        - freights-api
        - Freight publication
  /ext/freights-api/v1/cancelPublication:
    post:
      operationId: FreightsManageV1Controller_postCancelPublicationBulk
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: number
              example:
                - 1821180
                - 1821177
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCancelPublicationCollectionV1Dto"
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCancelPublicationCollectionV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Cancel freight publications (bulk)
      tags:
        - freights-api
        - Freight publication
  /ext/freights-api/v1/freights/{id}/refresh_publication:
    put:
      operationId: FreightsManageV1Controller_putRefreshPublicationEntity
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsUpdatedEntityV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Refresh freight publication
      tags:
        - freights-api
        - Freight publication
  /ext/freights-api/v2/freights:
    post:
      operationId: FreightsManageV2Controller_postFreightsCollection
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsCreatePayloadV2Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Create freight
      tags:
        - freights-api
        - Freight creation
  /ext/freights-api/v2/freights-contract:
    post:
      operationId: FreightsManageV2Controller_postFreightsContractCollection
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsCreatePayloadContractV2Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Create freight from contract
      tags:
        - freights-api
        - Freight creation
  /ext/freights-api/v2/freight-auto:
    post:
      operationId: FreightsManageV2Controller_postFreightsEntityAuto
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsCreatePayloadAutoV2Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Create freight (auto)
      tags:
        - freights-api
        - Freight creation
  /ext/freights-api/v2/freight-corporate:
    post:
      operationId: FreightsManageV2Controller_postFreightsEntityExchangeCorporate
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsCreatePayloadExchangesV2Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Create freight for corporate exchange
      tags:
        - freights-api
        - Freight creation
  /ext/freights-api/v2/freight-companies:
    post:
      operationId: FreightsManageV2Controller_postFreightsEntityCompanies
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsCreatePayloadCompaniesV2Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Create freight for companies
      tags:
        - freights-api
        - Freight creation
  /ext/freights-api/v2/freight-exchange:
    post:
      operationId: FreightsManageV2Controller_postFreightsEntityExchange
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsCreatePayloadExchangeV2Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Create freight for exchange
      tags:
        - freights-api
        - Freight creation
  /ext/freights-api/v2/private-exchange:
    post:
      operationId: FreightsManageV2Controller_postFreightsEntityExchangePrivate
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsCreatePayloadExchangesV2Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Create freight for private exchange
      tags:
        - freights-api
        - Freight creation
  /ext/freights-api/v2/freight-employees:
    post:
      operationId: FreightsManageV2Controller_postFreightsEntityEmployees
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsCreatePayloadEmployeesV2Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Create freight for employees
      tags:
        - freights-api
        - Freight creation
  /ext/freights-api/v2/freights-route:
    post:
      operationId: FreightsManageV2Controller_postFreightsRouteCollection
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsCreatePayloadRouteV2Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Create freight by route
      tags:
        - freights-api
        - Freight creation
  /ext/freights-api/v2/freights/{id}:
    put:
      operationId: FreightsManageV2Controller_putFreightsEntity
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsUpdatePayloadAllV2Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Update freight
      tags:
        - freights-api
        - Freight management
  /ext/freights-api/v2/freight-auto/{id}:
    put:
      operationId: FreightsManageV2Controller_putFreightsEntityAuto
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsUpdatePayloadAutoV2Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Update freight (auto)
      tags:
        - freights-api
        - Freight management
  /ext/freights-api/v2/freight-exchange/{id}:
    put:
      operationId: FreightsManageV2Controller_putFreightsEntityExchange
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsUpdatePayloadAutoV2Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Update freight for exchange
      tags:
        - freights-api
        - Freight management
  /ext/freights-api/v2/private-exchange/{id}:
    put:
      operationId: FreightsManageV2Controller_putFreightsEntityExchangePrivate
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsUpdatePayloadExchangesV2Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Update freight for private exchange
      tags:
        - freights-api
        - Freight management
  /ext/freights-api/v2/freight-corporate/{id}:
    put:
      operationId: FreightsManageV2Controller_putFreightsEntityExchangeCorporate
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsUpdatePayloadExchangesV2Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Update freight for corporate exchange
      tags:
        - freights-api
        - Freight management
  /ext/freights-api/v2/freight-companies/{id}:
    put:
      operationId: FreightsManageV2Controller_putFreightsEntityCompanies
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsUpdatePayloadCompaniesV2Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Update freight for companies
      tags:
        - freights-api
        - Freight management
  /ext/freights-api/v2/freight-employees/{id}:
    put:
      operationId: FreightsManageV2Controller_putFreightsEntityEmployees
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsUpdatePayloadEmployeesV2Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Update freight for employees
      tags:
        - freights-api
        - Freight management
  /ext/freights-api/v1/freight-proposals:
    get:
      operationId: ProposalsReadV1Controller_getCollection
      parameters:
        - name: filter
          required: false
          in: query
          style: deepObject
          explode: true
          schema:
            $ref: "#/components/schemas/ProposalsCollectionQueryFilterV1Dto"
        - name: sortBy
          required: false
          in: query
          schema:
            type: string
        - name: order
          required: false
          in: query
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProposalCollectionItemV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Get freight proposals list
      tags:
        - Freight proposals
        - freights-api
  /ext/freights-api/v1/freight-proposals/{id}:
    get:
      operationId: ProposalsReadV1Controller_getEntity
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/ProposalEntityV1Dto"
                  - $ref: "#/components/schemas/ProposalEntityNegotiatedV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Get freight proposal details
      tags:
        - Freight proposals
        - freights-api
  /ext/freights-api/v2/freight-proposals:
    get:
      operationId: ProposalsReadV2Controller_getCollection
      parameters:
        - name: filter
          required: false
          in: query
          style: deepObject
          explode: true
          schema:
            $ref: "#/components/schemas/ProposalsCollectionQueryFilterV1Dto"
        - name: sortBy
          required: false
          in: query
          schema:
            type: string
        - name: order
          required: false
          in: query
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProposalCollectionItemV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Get freight proposals list
      tags:
        - Freight proposals
        - freights-api
  /ext/freights-api/v2/freight-proposals/{id}:
    get:
      operationId: ProposalsReadV2Controller_getEntity
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/ProposalEntityV2Dto"
                  - $ref: "#/components/schemas/ProposalEntityNegotiatedV2Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Get freight proposal details
      tags:
        - Freight proposals
        - freights-api
  /ext/freights-api/v1/freights/offers/{id}:
    get:
      operationId: OffersReadV1Controller_getEntity
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrightsOffersEntityV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Get freight offer details
      tags:
        - Price offer negotiation
        - freights-api
  /ext/freights-api/v1/freights/offers/{id}/negotiate:
    patch:
      operationId: OffersManageV1Controller_patchEntityNegotiate
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsOfferNegotiationPayloadV1Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrightsOffersNegotiationEntityV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Negotiate freight offer
      tags:
        - Price offer negotiation
        - freights-api
  /ext/freights-api/v1/freights/offers/{id}/accept:
    post:
      operationId: OffersManageV1Controller_postEntityAccept
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: false
        description: An object that contains version of offer to accept
        content:
          application/json:
            schema:
              type: string
            examples:
              regular:
                summary: Regular
                value:
                  version: 4
              target_employee_id:
                summary: With target employee
                value:
                  version: 2
                  target_employee_id: 1091410-2
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrightsOffersNegotiationEntityV1Dto"
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrightsOffersNegotiationEntityV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Accept freight offer
      tags:
        - Price offer negotiation
        - freights-api
  /ext/freights-api/v1/freights/offers/{id}/reject:
    post:
      operationId: OffersManageV1Controller_postEntityReject
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: false
        description: An object that contains version of offer to reject
        content:
          application/json:
            schema:
              type: string
            examples:
              target_employee_account_id:
                summary: Target employee (account id)
                value:
                  version: 4
                  target_employee_id: 1452
                  reject_ultimately: true
                  reason: reason example
              target_employee_trans_id:
                summary: Target employee (trans_id)
                value:
                  version: 4
                  target_employee_id: 1091410-2
                  reject_ultimately: true
                  reason: reason example
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrightsOffersNegotiationEntityV1Dto"
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrightsOffersNegotiationEntityV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Reject freight offer
      tags:
        - Price offer negotiation
        - freights-api
  /ext/freights-api/v1/freights/offers/{id}/renouncement:
    post:
      operationId: OffersManageV1Controller_postEntityRenouncement
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsOfferRejectionPayloadV1Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrightsOffersNegotiationRenouncementEntityV1Dto"
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrightsOffersNegotiationRenouncementEntityV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Renounce freight offer
      tags:
        - Price offer negotiation
        - freights-api
  /ext/freights-api/v1/freights/offers/{id}/withdraw:
    post:
      operationId: OffersManageV1Controller_postEntityWithdraw
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsOfferWithdrawPayloadV1Dto"
      responses:
        "200":
          description: ""
        "201":
          description: ""
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Withdraw freight offer
      tags:
        - Price offer negotiation
        - freights-api
  /ext/freights-api/v1/freights/offers/{id}/takeover:
    patch:
      operationId: OffersManageV1Controller_patchEntityTakeover
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsOfferTakeoverPayloadV1Dto"
      responses:
        "200":
          description: ""
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Take over freight offer
      tags:
        - Price offer negotiation
        - freights-api
  /ext/freights-api/v1/freights/{id}/internal-note:
    get:
      operationId: InternalNotesV1Controller_getNote
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightInternalNoteV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Get freight internal note
      tags:
        - Internal notes
        - freights-api
    post:
      operationId: InternalNotesV1Controller_createNote
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightInternalNotePayloadV1Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightInternalNoteV1Dto"
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightInternalNoteV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Create freight internal note
      tags:
        - Internal notes
        - freights-api
    put:
      operationId: InternalNotesV1Controller_updateNote
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightInternalNotePayloadV1Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightInternalNoteV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Update freight internal note
      tags:
        - Internal notes
        - freights-api
    delete:
      operationId: InternalNotesV1Controller_deleteNote
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      responses:
        "204":
          description: No Content
      security:
        - bearer: []
      summary: Delete freight internal note
      tags:
        - Internal notes
        - freights-api
components:
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
  schemas:
    FreightEntityCarrierAddressV1Dto:
      type: object
      properties:
        country:
          type: string
        locality:
          type: string
        postal_code:
          type: string
        street:
          type: string
    FreightEntityCarrierV1Dto:
      type: object
      properties:
        id:
          type: object
        email:
          type: string
        name:
          type: string
        address:
          $ref: "#/components/schemas/FreightEntityCarrierAddressV1Dto"
        vat_id:
          type: object
        telephone:
          type: object
    FreightEntityContactEmployeesV1Dto:
      type: object
      properties:
        last_name:
          type: string
        name:
          type: string
        trans_id:
          type: string
    FreightEntityLoadV1Dto:
      type: object
      properties:
        id:
          type: number
        name:
          type: string
          nullable: true
        type_of_load:
          type: string
        weight:
          type: number
          nullable: true
        height:
          type: number
          nullable: true
        width:
          type: number
          nullable: true
        length:
          type: number
          nullable: true
        volume:
          type: number
          nullable: true
        amount:
          type: number
          nullable: true
        description:
          type: string
          nullable: true
        load_id:
          type: string
        is_stackable:
          type: boolean
        is_exchangeable:
          type: boolean
        cleaning_regime:
          type: string
        idtf:
          type: number
    FreightEntityRequirementsTemperatureV1Dto:
      type: object
      properties:
        max:
          type: number
          nullable: true
        min:
          type: number
          nullable: true
    FreightEntityRequirementsTransportV1Dto:
      type: object
      properties:
        count:
          type: object
        schedule_type:
          type: object
        settlement:
          type: object
        settlement_basis:
          type: object
        total_weight:
          type: object
        type:
          type: string
        per_order_min:
          type: number
          nullable: true
        per_order_max:
          type: number
          nullable: true
        proposed_count:
          type: number
          nullable: true
    FreightEntityRequirementsV1Dto:
      type: object
      properties:
        is_ftl:
          type: boolean
        monitoring:
          type: string
        other_requirements:
          type: array
          items:
            type: string
        required_adr_classes:
          type: array
          items:
            type: string
        required_door_types:
          type: array
          items:
            type: string
        required_tipper_trailer_additional_equipment:
          type: array
          items:
            type: string
        required_truck_bodies:
          type: array
          items:
            type: string
        required_ways_of_loading:
          type: array
          items:
            type: string
        shipping_remarks:
          type: string
          nullable: true
        temperature:
          $ref: "#/components/schemas/FreightEntityRequirementsTemperatureV1Dto"
        transport:
          $ref: "#/components/schemas/FreightEntityRequirementsTransportV1Dto"
        vehicle_size:
          type: string
    FreightEntitySpotsOperationsLoadV1Dto:
      type: object
      properties:
        load_id:
          type: string
        weight:
          type: number
          nullable: true
    FreightEntitySpotsOperationsTimespansV1Dto:
      type: object
      properties:
        begin:
          type: string
        begin_local:
          type: string
          nullable: true
        end:
          type: string
        end_local:
          type: string
          nullable: true
        timezone:
          type: string
          nullable: true
    FreightEntitySpotsOperationsV1Dto:
      type: object
      properties:
        loads:
          type: array
          items:
            $ref: "#/components/schemas/FreightEntitySpotsOperationsLoadV1Dto"
        operation_order:
          type: number
        operation_time:
          type: object
        timespans:
          $ref: "#/components/schemas/FreightEntitySpotsOperationsTimespansV1Dto"
        type:
          type: string
    FreightEntitySpotsPlaceAddressV1Dto:
      type: object
      properties:
        country:
          type: string
        description:
          type: object
        locality:
          type: string
        number:
          type: object
        postal_code:
          type: string
        street:
          type: object
    FreightEntitySpotsPlaceCoordinatesV1Dto:
      type: object
      properties:
        latitude:
          type: number
        longitude:
          type: object
    FreightEntitySpotsPlaceV1Dto:
      type: object
      properties:
        address:
          $ref: "#/components/schemas/FreightEntitySpotsPlaceAddressV1Dto"
        coordinates:
          $ref: "#/components/schemas/FreightEntitySpotsPlaceCoordinatesV1Dto"
    FreightEntitySpotsV1Dto:
      type: object
      properties:
        description:
          type: string
        name:
          type: object
        operations:
          type: array
          items:
            $ref: "#/components/schemas/FreightEntitySpotsOperationsV1Dto"
        place:
          $ref: "#/components/schemas/FreightEntitySpotsPlaceV1Dto"
        spot_order:
          type: number
    FreightEntitySurchargesItemV1Dto:
      type: object
      properties:
        type:
          type: string
        data:
          type: object
          properties:
            currency:
              type: string
            value:
              type: number
          required:
            - currency
            - value
    FreightEntitySurchargesV1Dto:
      type: object
      properties:
        contract_id:
          type: string
        surcharges:
          type: array
          items:
            $ref: "#/components/schemas/FreightEntitySurchargesItemV1Dto"
    FreightEntityV1Dto:
      type: object
      properties:
        accepted_price:
          type: number
          nullable: true
        capacity:
          type: number
        carrier:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/FreightEntityCarrierV1Dto"
        contact_employees:
          type: array
          items:
            $ref: "#/components/schemas/FreightEntityContactEmployeesV1Dto"
        distance:
          type: object
        distance_override:
          type: number
          nullable: true
        is_roundtrip:
          type: boolean
        end_reason:
          type: object
        height:
          type: number
          nullable: true
        id:
          type: number
        is_first_buy:
          type: object
        length:
          type: number
          nullable: true
        loading_meters:
          type: number
          nullable: true
        loads:
          type: array
          items:
            $ref: "#/components/schemas/FreightEntityLoadV1Dto"
        publication_price:
          type: object
        publication_status:
          type: object
        reference_number:
          type: string
        requirements:
          $ref: "#/components/schemas/FreightEntityRequirementsV1Dto"
        shipment_external_id:
          type: object
        spots:
          type: array
          items:
            $ref: "#/components/schemas/FreightEntitySpotsV1Dto"
        status:
          type: string
        surcharges:
          type: array
          items:
            $ref: "#/components/schemas/FreightEntitySurchargesV1Dto"
        transit_time:
          type: object
        volume:
          type: number
          nullable: true
        width:
          type: number
          nullable: true
        publication_receivers:
          nullable: true
          type: array
          items:
            type: string
        archived_at:
          type: string
    FreightStatusEnum:
      type: string
      enum:
        - accepted
        - deleted
        - in_progress
        - new
        - unsuccessful_publication
        - waiting_for_publication
        - closed
        - waiting_for_accept
        - waiting_for_chain_accept
    TruckBodyTypeEnum:
      type: string
      enum:
        - cooler
        - isotherm
        - food-tanker
        - petroleum-tanker
        - chemical-tanker
        - gas-tanker
        - silos
        - standard-tent
        - curtainsider
        - mega
        - coilmulde
        - log-trailer
        - platform-trailer
        - car-transporter
        - other
        - hook-truck
        - low-loader
        - truck
        - box
        - dump-truck
        - swap-body-system
        - 20-standard
        - 40-standard
        - 45-standard
        - joloda
        - bde
        - open-box
        - meathanging
        - walkingfloor
        - tank-body-20
        - tank-body-40
        - tanker
        - jumbo
        - steel
        - aluminum
    CountryEnum:
      type: string
      enum:
        - ad
        - af
        - al
        - am
        - at
        - az
        - ba
        - be
        - bg
        - by
        - ch
        - cy
        - cz
        - de
        - dk
        - dz
        - ee
        - eg
        - es
        - fi
        - fr
        - gb
        - ge
        - gr
        - hr
        - hu
        - ie
        - il
        - iq
        - ir
        - is
        - it
        - kg
        - kz
        - li
        - lt
        - lu
        - lv
        - ma
        - mc
        - md
        - me
        - mk
        - mt
        - nl
        - no
        - pk
        - pl
        - pt
        - ro
        - rs
        - ru
        - se
        - si
        - sk
        - sm
        - tj
        - tm
        - tn
        - tr
        - ua
        - uz
        - xk
    LoadingOrUnloadingPlace:
      type: object
      properties:
        postal_code:
          type: string
          example: 52-200
        country:
          allOf:
            - $ref: "#/components/schemas/CountryEnum"
    DateRange:
      type: object
      properties:
        start_date:
          type: string
          description: Start date in YYYY-MM-DD format
          example: 2023-01-01
          pattern: ^\d{4}-\d{2}-\d{2}$
        end_date:
          type: string
          description: End date in YYYY-MM-DD format
          example: 2023-12-31
          pattern: ^\d{4}-\d{2}-\d{2}$
    ExchangeReceivers:
      type: object
      properties:
        receivers:
          example:
            - 62490e71-43d0-4abb-9584-e32259703282
          type: array
          items:
            type: string
            format: uuid
    PublicationType:
      type: object
      properties:
        contracts:
          type: boolean
          example: true
        companies:
          type: boolean
          example: true
        exchange:
          type: boolean
          example: true
        recommended:
          type: boolean
          example: true
        direct:
          type: boolean
          example: true
        private_exchanges:
          $ref: "#/components/schemas/ExchangeReceivers"
        corporate_exchanges:
          $ref: "#/components/schemas/ExchangeReceivers"
    FreightsCollectionActiveQueryFilterV1Dto:
      type: object
      properties:
        status:
          allOf:
            - $ref: "#/components/schemas/FreightStatusEnum"
        truck_body_type:
          allOf:
            - $ref: "#/components/schemas/TruckBodyTypeEnum"
        truck_body_types:
          minItems: 1
          type: array
          items:
            $ref: "#/components/schemas/TruckBodyTypeEnum"
        loading_place:
          $ref: "#/components/schemas/LoadingOrUnloadingPlace"
        unloading_place:
          $ref: "#/components/schemas/LoadingOrUnloadingPlace"
        unloading_date:
          $ref: "#/components/schemas/DateRange"
        shipment_date:
          $ref: "#/components/schemas/DateRange"
        publication_types:
          $ref: "#/components/schemas/PublicationType"
    Object:
      type: object
      properties: {}
    FreightsCollectionItemRequirementsTransportV1Dto:
      type: object
      properties:
        type:
          type: string
        count:
          type: number
        settlement:
          type: string
        remaining:
          type: string
        settlement_basis:
          type: string
        total_weight:
          type: number
        schedule_type:
          type: string
        per_order_min:
          type: number
        per_order_max:
          type: number
        proposed_count:
          type: number
    FreightsCollectionItemRequirementsV1Dto:
      type: object
      properties:
        transport:
          $ref: "#/components/schemas/FreightsCollectionItemRequirementsTransportV1Dto"
    FreightsCollectionItemLoadingCoordinatesV1Dto:
      type: object
      properties:
        latitude:
          type: number
        longitude:
          type: number
    FreightsCollectionItemLoadingPlaceV1Dto:
      type: object
      properties:
        country:
          type: string
        locality:
          type: string
        postal_code:
          type: string
    FreightsCollectionItemLoadingTimespansV1Dto:
      type: object
      properties:
        begin:
          type: string
        end:
          type: string
    FreightsCollectionItemLoadingV1Dto:
      type: object
      properties:
        coordinates:
          $ref: "#/components/schemas/FreightsCollectionItemLoadingCoordinatesV1Dto"
        place:
          $ref: "#/components/schemas/FreightsCollectionItemLoadingPlaceV1Dto"
        timespans:
          $ref: "#/components/schemas/FreightsCollectionItemLoadingTimespansV1Dto"
    FreightsCollectionItemPublicationReceiversV1Dto:
      type: object
      properties: {}
    FreightsCollectionAcceptedItemSendToV1Dto:
      type: object
      properties:
        companies:
          type: boolean
        direct:
          type: boolean
        private_exchange:
          type: boolean
        corporate_exchange:
          type: object
          nullable: true
          additionalProperties: true
    FreightsCollectionItemPublicationPricePeriodV1Dto:
      type: object
      properties:
        days:
          type: number
          nullable: true
        payment:
          type: string
          nullable: true
    FreightsCollectionItemPublicationPriceV1Dto:
      type: object
      properties:
        currency:
          type: string
        period:
          $ref: "#/components/schemas/FreightsCollectionItemPublicationPricePeriodV1Dto"
        value:
          type: number
    FreightsCollectionItemPublicationV1Dto:
      type: object
      properties:
        end_reason:
          type: object
        id:
          type: number
        auction_id:
          type: string
        is_shared:
          type: boolean
        receivers:
          $ref: "#/components/schemas/FreightsCollectionItemPublicationReceiversV1Dto"
        sent_to:
          $ref: "#/components/schemas/FreightsCollectionAcceptedItemSendToV1Dto"
        offer_id:
          type: string
        is_quick_pay:
          type: boolean
        is_recommended:
          type: boolean
        price:
          $ref: "#/components/schemas/FreightsCollectionItemPublicationPriceV1Dto"
        publish_date:
          type: string
        publish_type:
          type: string
        received_offers:
          type: number
        refresh_from:
          type: object
        sent_offers:
          type: number
        smart_match_offers:
          type: object
        status:
          type: string
        stock_id:
          type: number
    FreightsCollectionItemUnloadingCoordinatesV1Dto:
      type: object
      properties:
        latitude:
          type: number
        longitude:
          type: number
    FreightsCollectionItemUnloadingPlaceV1Dto:
      type: object
      properties:
        country:
          type: string
        locality:
          type: string
        postal_code:
          type: string
    FreightsCollectionItemUnloadingTimespansV1Dto:
      type: object
      properties:
        begin:
          type: string
        end:
          type: string
    FreightsCollectionItemUnloadingV1Dto:
      type: object
      properties:
        coordinates:
          $ref: "#/components/schemas/FreightsCollectionItemUnloadingCoordinatesV1Dto"
        place:
          $ref: "#/components/schemas/FreightsCollectionItemUnloadingPlaceV1Dto"
        timespans:
          $ref: "#/components/schemas/FreightsCollectionItemUnloadingTimespansV1Dto"
    FreightsCollectionItemTemperatureV1Dto:
      type: object
      properties:
        min:
          type: number
        max:
          type: number
    FreightsCollectionItemContactEmployeesV1Dto:
      type: object
      properties:
        last_name:
          type: string
        name:
          type: string
        trans_id:
          type: string
    FreightsCollectionItemV1Dto:
      type: object
      properties:
        requirements:
          $ref: "#/components/schemas/FreightsCollectionItemRequirementsV1Dto"
        created:
          type: string
        ftl:
          type: boolean
        id:
          type: number
        width:
          type: number
        height:
          type: number
        length:
          type: number
        volume:
          type: number
        loading:
          $ref: "#/components/schemas/FreightsCollectionItemLoadingV1Dto"
        publication:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/FreightsCollectionItemPublicationV1Dto"
        reference_number:
          type: string
        shipment_external_id:
          type: object
        status:
          type: string
        truck_bodies:
          type: array
          items:
            type: string
        unloading:
          $ref: "#/components/schemas/FreightsCollectionItemUnloadingV1Dto"
        vehicle_size:
          type: string
        temperature:
          $ref: "#/components/schemas/FreightsCollectionItemTemperatureV1Dto"
        contact_employees:
          type: array
          items:
            $ref: "#/components/schemas/FreightsCollectionItemContactEmployeesV1Dto"
        transit_time:
          type: number
        transport_type:
          type: string
          description: "Type of transport: ftl/ltl"
        archived_at:
          type: string
    FreightsCollectionAcceptedRequirementsTransportV1Dto:
      type: object
      properties:
        type:
          type: string
        count:
          type: number
        settlement:
          type: string
        remaining:
          type: string
        settlement_basis:
          type: string
        total_weight:
          type: number
        schedule_type:
          type: string
        per_order_min:
          type: number
        per_order_max:
          type: number
        proposed_count:
          type: number
    FreightsCollectionAcceptedItemRequirementsV1Dto:
      type: object
      properties:
        transport:
          $ref: "#/components/schemas/FreightsCollectionAcceptedRequirementsTransportV1Dt\
            o"
    FreightsCollectionAcceptedItemLoadingCoordinatesV1Dto:
      type: object
      properties:
        latitude:
          type: number
        longitude:
          type: number
    FreightsCollectionAcceptedItemLoadingPlaceV1Dto:
      type: object
      properties:
        country:
          type: string
        locality:
          type: string
        postal_code:
          type: string
    FreightsCollectionAcceptedItemLoadingTimespansV1Dto:
      type: object
      properties:
        begin:
          type: string
        end:
          type: string
    FreightsCollectionAcceptedItemLoadingV1Dto:
      type: object
      properties:
        coordinates:
          $ref: "#/components/schemas/FreightsCollectionAcceptedItemLoadingCoordinatesV1D\
            to"
        place:
          $ref: "#/components/schemas/FreightsCollectionAcceptedItemLoadingPlaceV1Dto"
        timespans:
          $ref: "#/components/schemas/FreightsCollectionAcceptedItemLoadingTimespansV1Dto"
    FreightsCollectionAcceptedItemPublicationReceiversV1Dto:
      type: object
      properties:
        corporate_exchanges:
          type: array
          items:
            type: string
        private_exchanges:
          type: array
          items:
            type: string
    FreightCollectionItemSendToV1Dto:
      type: object
      properties:
        companies:
          type: boolean
        direct:
          type: boolean
        private_exchange:
          type: boolean
        corporate_exchange:
          type: boolean
    FreightsCollectionAcceptedItemPublicationPricePeriodV1Dto:
      type: object
      properties:
        days:
          type: number
          nullable: true
        payment:
          type: string
          nullable: true
    FreightsCollectionAcceptedItemPublicationPriceV1Dto:
      type: object
      properties:
        currency:
          type: string
        period:
          $ref: "#/components/schemas/FreightsCollectionAcceptedItemPublicationPricePerio\
            dV1Dto"
        value:
          type: number
    FreightsCollectionAcceptedItemPublicationV1Dto:
      type: object
      properties:
        end_reason:
          type: object
        id:
          type: number
        auction_id:
          type: string
        is_shared:
          type: boolean
          nullable: true
        receivers:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/FreightsCollectionAcceptedItemPublicationReceiversV\
                1Dto"
        sent_to:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/FreightCollectionItemSendToV1Dto"
        offer_id:
          type: string
        is_quick_pay:
          type: boolean
        is_recommended:
          type: boolean
          nullable: true
        price:
          $ref: "#/components/schemas/FreightsCollectionAcceptedItemPublicationPriceV1Dto"
        publish_date:
          type: string
        publish_type:
          type: string
        received_offers:
          type: number
          nullable: true
        refresh_from:
          type: object
        sent_offers:
          type: number
          nullable: true
        smart_match_offers:
          type: object
        status:
          type: string
        stock_id:
          type: number
          nullable: true
    FreightsCollectionAcceptedItemUnloadingCoordinatesV1Dto:
      type: object
      properties:
        latitude:
          type: number
        longitude:
          type: number
    FreightsCollectionAcceptedItemUnloadingPlaceV1Dto:
      type: object
      properties:
        country:
          type: string
        locality:
          type: string
        postal_code:
          type: string
    FreightsCollectionAcceptedItemUnloadingTimespansV1Dto:
      type: object
      properties:
        begin:
          type: string
        end:
          type: string
    FreightsCollectionAcceptedItemUnloadingV1Dto:
      type: object
      properties:
        coordinates:
          $ref: "#/components/schemas/FreightsCollectionAcceptedItemUnloadingCoordinatesV\
            1Dto"
        place:
          $ref: "#/components/schemas/FreightsCollectionAcceptedItemUnloadingPlaceV1Dto"
        timespans:
          $ref: "#/components/schemas/FreightsCollectionAcceptedItemUnloadingTimespansV1D\
            to"
    FreightsCollectionAcceptedItemTemperatureV1Dto:
      type: object
      properties:
        min:
          type: number
          nullable: true
        max:
          type: number
          nullable: true
    FreightsCollectionAcceptedItemContactEmployeesV1Dto:
      type: object
      properties:
        last_name:
          type: string
        name:
          type: string
        trans_id:
          type: string
    FreightsCollectionAcceptedItemV1Dto:
      type: object
      properties:
        requirements:
          $ref: "#/components/schemas/FreightsCollectionAcceptedItemRequirementsV1Dto"
        created:
          type: string
        ftl:
          type: boolean
        id:
          type: number
        width:
          type: number
        height:
          type: number
        length:
          type: number
        volume:
          type: number
        loading:
          $ref: "#/components/schemas/FreightsCollectionAcceptedItemLoadingV1Dto"
        publication:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/FreightsCollectionAcceptedItemPublicationV1Dto"
        reference_number:
          type: string
        shipment_external_id:
          type: object
        status:
          type: string
        truck_bodies:
          type: array
          items:
            type: string
        unloading:
          $ref: "#/components/schemas/FreightsCollectionAcceptedItemUnloadingV1Dto"
        vehicle_size:
          type: string
        temperature:
          $ref: "#/components/schemas/FreightsCollectionAcceptedItemTemperatureV1Dto"
        contact_employees:
          type: array
          items:
            $ref: "#/components/schemas/FreightsCollectionAcceptedItemContactEmployeesV1Dto"
        transit_time:
          type: number
          nullable: true
        transport_type:
          type: string
          description: "Type of transport: ftl/ltl"
        archived_at:
          type: string
    FreightsCollectionArchiveQueryFilterV1Dto:
      type: object
      properties:
        status:
          allOf:
            - $ref: "#/components/schemas/FreightStatusEnum"
        truck_body_type:
          allOf:
            - $ref: "#/components/schemas/TruckBodyTypeEnum"
        truck_body_types:
          minItems: 1
          type: array
          items:
            $ref: "#/components/schemas/TruckBodyTypeEnum"
        loading_place:
          $ref: "#/components/schemas/LoadingOrUnloadingPlace"
        unloading_place:
          $ref: "#/components/schemas/LoadingOrUnloadingPlace"
        unloading_date:
          $ref: "#/components/schemas/DateRange"
        shipment_date:
          $ref: "#/components/schemas/DateRange"
    FreightsOffersCollectionItemPriceV1Dto:
      type: object
      properties:
        currency:
          type: string
        type:
          type: string
        value:
          type: number
        last_price_author:
          type: string
          example: 12345-1
    FreightsOffersCollectionItemTransportsV1Dto:
      type: object
      properties:
        count:
          type: number
    FreightsOffersCollectionItemV1Dto:
      type: object
      properties:
        carrier_offer_expiration_date:
          type: string
          nullable: true
        company_id:
          type: number
        created_at:
          type: string
        freight_id:
          type: number
        id:
          type: string
        legal_name:
          type: string
        offer_expiration_date:
          type: string
          nullable: true
        price:
          $ref: "#/components/schemas/FreightsOffersCollectionItemPriceV1Dto"
        requirements:
          type: object
          nullable: true
        status:
          type: string
        trans_id:
          type: string
        transports:
          $ref: "#/components/schemas/FreightsOffersCollectionItemTransportsV1Dto"
        vat_id:
          type: string
        version:
          type: number
    FreightReceiversV1Dto:
      type: object
      properties:
        community_exchanges:
          type: array
          items:
            type: string
        companies:
          type: array
          items:
            type: number
        contracts:
          type: array
          items:
            type: string
        corporate_exchanges:
          type: array
          items:
            type: string
        direct:
          type: array
          items:
            type: string
        private_exchanges:
          type: array
          items:
            type: string
        public_exchange:
          type: boolean
    FreightsCreatePayloadLoadsV1Dto:
      type: object
      properties:
        name:
          type: string
        weight:
          type: number
        height:
          type: number
        width:
          type: number
        volume:
          type: number
        length:
          type: number
        amount:
          type: number
        load_id:
          type: string
        type_of_load:
          type: string
        is_stackable:
          type: boolean
        is_exchangeable:
          type: boolean
        cleaning_regime:
          type: string
        idtf:
          type: string
        description:
          type: string
    FreightsCreatePayloadPaymentPricePeriodV1Dto:
      type: object
      properties:
        payment:
          type: string
        days:
          type: number
          nullable: true
    FreightsCreatePayloadPaymentPriceV1Dto:
      type: object
      properties:
        currency:
          type: string
          example: bam
          description: Currency code (e.g., bam, eur, pln)
        value:
          type: number
          nullable: true
          example: 1000.5
        amount:
          type: number
          nullable: true
          example: 10
        period:
          $ref: "#/components/schemas/FreightsCreatePayloadPaymentPricePeriodV1Dto"
    FreightsCreatePayloadPaymentV1Dto:
      type: object
      properties:
        price:
          $ref: "#/components/schemas/FreightsCreatePayloadPaymentPriceV1Dto"
    CommonPriceDto:
      type: object
      properties:
        currency:
          type: string
          example: bam
          description: Currency code (e.g., bam, eur, pln)
        value:
          type: number
          nullable: true
          example: 1000.5
        amount:
          type: number
          nullable: true
          example: 10
    FreightsCreatePayloadPlannedPricesV1Dto:
      type: object
      properties:
        recommended:
          $ref: "#/components/schemas/CommonPriceDto"
        indicated:
          $ref: "#/components/schemas/CommonPriceDto"
    FreightsCreatePayloadRequirementsTransportV1Dto:
      type: object
      properties:
        type:
          type: string
        count:
          type: number
        total_weight:
          type: number
        schedule_type:
          type: string
        settlement:
          type: string
        settlement_basis:
          type: string
    FreightsCreatePayloadRequirementsTemperatureV1Dto:
      type: object
      properties:
        min:
          type: number
          nullable: true
        max:
          type: number
          nullable: true
    FreightsCreatePayloadRequirementsV1Dto:
      type: object
      properties:
        transport:
          $ref: "#/components/schemas/FreightsCreatePayloadRequirementsTransportV1Dto"
        is_ftl:
          type: boolean
        other_requirements:
          type: array
          items:
            type: string
        required_adr_classes:
          type: array
          items:
            type: string
        required_truck_bodies:
          type: array
          items:
            type: string
        required_ways_of_loading:
          type: array
          items:
            type: string
        required_door_types:
          nullable: true
          type: array
          items:
            type: string
        shipping_remarks:
          type: string
          nullable: true
        temperature:
          $ref: "#/components/schemas/FreightsCreatePayloadRequirementsTemperatureV1Dto"
        vehicle_size:
          type: string
        monitoring:
          type: string
          nullable: true
        exemption_from_adr:
          type: boolean
          nullable: true
        required_tipper_trailer_additional_equipment:
          nullable: true
          type: array
          items:
            type: string
    FreightsCreatePayloadSpotsOperationsLoadsV1Dto:
      type: object
      properties:
        amount:
          type: number
        description:
          type: string
        exchangeable:
          type: boolean
          nullable: true
        height:
          type: number
          nullable: true
        length:
          type: number
          nullable: true
        name:
          type: string
        stackable:
          type: boolean
          nullable: true
        type:
          type: string
        volume:
          type: number
          nullable: true
        weight:
          type: number
          nullable: true
        width:
          type: number
          nullable: true
    FreightsCreatePayloadSpotsOperationsTimespansV1Dto:
      type: object
      properties:
        end:
          type: string
        begin:
          type: string
        timezone:
          type: string
    FreightsCreatePayloadSpotsOperationsV1Dto:
      type: object
      properties:
        loads:
          type: array
          items:
            $ref: "#/components/schemas/FreightsCreatePayloadSpotsOperationsLoadsV1Dto"
        operation_order:
          type: number
        operation_time:
          type: number
        timespans:
          $ref: "#/components/schemas/FreightsCreatePayloadSpotsOperationsTimespansV1Dto"
        type:
          type: string
    FreightsCreatePayloadSpotsPlaceAddressV1Dto:
      type: object
      properties:
        country:
          type: string
        description:
          type: string
          nullable: true
        locality:
          type: string
        number:
          type: string
          nullable: true
        postal_code:
          type: string
        street:
          type: string
    FreightsCreatePayloadSpotsPlaceCoordinatesV1Dto:
      type: object
      properties:
        latitude:
          type: number
        longitude:
          type: number
    FreightsCreatePayloadSpotsPlaceV1Dto:
      type: object
      properties:
        address:
          $ref: "#/components/schemas/FreightsCreatePayloadSpotsPlaceAddressV1Dto"
        coordinates:
          $ref: "#/components/schemas/FreightsCreatePayloadSpotsPlaceCoordinatesV1Dto"
        fingerprint:
          type: string
          nullable: true
    FreightsCreatePayloadSpotsV1Dto:
      type: object
      properties:
        description:
          type: string
          nullable: true
        name:
          type: string
        operations:
          type: array
          items:
            $ref: "#/components/schemas/FreightsCreatePayloadSpotsOperationsV1Dto"
        place:
          $ref: "#/components/schemas/FreightsCreatePayloadSpotsPlaceV1Dto"
        spot_order:
          type: number
    FreightsCreatePayloadCarriersV1Dto:
      type: object
      properties:
        company_id:
          type: number
    FreightsCreatePayloadAllV1Dto:
      type: object
      properties:
        is_roundtrip:
          type: boolean
        distance:
          type: number
          nullable: true
        distance_override:
          type: number
          nullable: true
        send_order_proposal_automatically:
          type: boolean
        external_source:
          type: string
        capacity:
          type: number
        decision_date:
          type: string
        finish_date:
          type: string
        loading_meters:
          type: number
        loads:
          type: array
          items:
            $ref: "#/components/schemas/FreightsCreatePayloadLoadsV1Dto"
        payment:
          $ref: "#/components/schemas/FreightsCreatePayloadPaymentV1Dto"
        planned_prices:
          $ref: "#/components/schemas/FreightsCreatePayloadPlannedPricesV1Dto"
        publication_price:
          $ref: "#/components/schemas/CommonPriceDto"
        publish_date:
          type: string
        quick_pay:
          type: boolean
        is_first_buy:
          type: boolean
        contact_employees:
          example:
            - 105-1
            - 105-2
            - 105-3
          type: array
          items:
            type: string
            pattern: TRANS_ID_REGEX
        requirements:
          $ref: "#/components/schemas/FreightsCreatePayloadRequirementsV1Dto"
        shipment_external_id:
          type: string
        spots:
          type: array
          items:
            $ref: "#/components/schemas/FreightsCreatePayloadSpotsV1Dto"
        transit_time:
          type: number
        height:
          type: number
          nullable: true
        length:
          type: number
          nullable: true
        volume:
          type: number
          nullable: true
        weight:
          type: number
          nullable: true
        width:
          type: number
          nullable: true
        publish:
          type: string
        carriers:
          type: array
          items:
            $ref: "#/components/schemas/FreightsCreatePayloadCarriersV1Dto"
    FreightsCreatePayloadAutoV1Dto:
      type: object
      properties:
        is_roundtrip:
          type: boolean
        distance:
          type: number
          nullable: true
        distance_override:
          type: number
          nullable: true
        send_order_proposal_automatically:
          type: boolean
        external_source:
          type: string
        capacity:
          type: number
        decision_date:
          type: string
        finish_date:
          type: string
        loading_meters:
          type: number
        loads:
          type: array
          items:
            $ref: "#/components/schemas/FreightsCreatePayloadLoadsV1Dto"
        payment:
          $ref: "#/components/schemas/FreightsCreatePayloadPaymentV1Dto"
        planned_prices:
          $ref: "#/components/schemas/FreightsCreatePayloadPlannedPricesV1Dto"
        publication_price:
          $ref: "#/components/schemas/CommonPriceDto"
        publish_date:
          type: string
        quick_pay:
          type: boolean
        is_first_buy:
          type: boolean
        contact_employees:
          example:
            - 105-1
            - 105-2
            - 105-3
          type: array
          items:
            type: string
            pattern: TRANS_ID_REGEX
        requirements:
          $ref: "#/components/schemas/FreightsCreatePayloadRequirementsV1Dto"
        shipment_external_id:
          type: string
        spots:
          type: array
          items:
            $ref: "#/components/schemas/FreightsCreatePayloadSpotsV1Dto"
        transit_time:
          type: number
        height:
          type: number
          nullable: true
        length:
          type: number
          nullable: true
        volume:
          type: number
          nullable: true
        weight:
          type: number
          nullable: true
        width:
          type: number
          nullable: true
        publish:
          type: boolean
    FreightsCreatePayloadPublicV1Dto:
      type: object
      properties:
        is_roundtrip:
          type: boolean
        distance:
          type: number
          nullable: true
        distance_override:
          type: number
          nullable: true
        send_order_proposal_automatically:
          type: boolean
        external_source:
          type: string
        capacity:
          type: number
        decision_date:
          type: string
        finish_date:
          type: string
        loading_meters:
          type: number
        loads:
          type: array
          items:
            $ref: "#/components/schemas/FreightsCreatePayloadLoadsV1Dto"
        payment:
          $ref: "#/components/schemas/FreightsCreatePayloadPaymentV1Dto"
        planned_prices:
          $ref: "#/components/schemas/FreightsCreatePayloadPlannedPricesV1Dto"
        publication_price:
          $ref: "#/components/schemas/CommonPriceDto"
        publish_date:
          type: string
        quick_pay:
          type: boolean
        is_first_buy:
          type: boolean
        contact_employees:
          example:
            - 105-1
            - 105-2
            - 105-3
          type: array
          items:
            type: string
            pattern: TRANS_ID_REGEX
        requirements:
          $ref: "#/components/schemas/FreightsCreatePayloadRequirementsV1Dto"
        shipment_external_id:
          type: string
        spots:
          type: array
          items:
            $ref: "#/components/schemas/FreightsCreatePayloadSpotsV1Dto"
        transit_time:
          type: number
        height:
          type: number
          nullable: true
        length:
          type: number
          nullable: true
        volume:
          type: number
          nullable: true
        weight:
          type: number
          nullable: true
        width:
          type: number
          nullable: true
        publish:
          type: boolean
    FreightsCreatePayloadCompaniesV1Dto:
[...]
