openapi: 3.0.0
info:
  title: api-transit
  description: ""
  version: 1.113.4
  contact: {}
servers:
  - url: https://api.platform.trans.eu
    description: PROD
tags: []
paths:
  /ext/auth-api/accounts/token:
    post:
      operationId: AuthManageV1Controller_postToken
      parameters:
        - name: api-key
          required: true
          in: header
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponseDto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security: []
      summary: ""
      tags:
        - auth-api
  /ext/auth-api/accounts/token/exchange:
    post:
      operationId: AuthManageV1Controller_exchangeToken
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TokenExchangeRequestDto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenExchangeResponseDto"
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenExchangeResponseDto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security: []
      summary: ""
      tags:
        - auth-api
  /ext/exchange-api/v1/exchanges:
    get:
      operationId: ExchangesReadV1Controller_getFreightEntity
      parameters: []
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExchangesCollectionV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      tags:
        - exchanges-api
  /ext/freights-api/v1/freights/{id}:
    get:
      operationId: FreightsReadV1Controller_getFreightEntity
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FreightEntityV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Get freight details
      tags:
        - freights-api
        - Freight management
    put:
      operationId: FreightsManageV1Controller_putFreightsEntity
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/FreightsUpdatePayloadAllV1Dto"
                - $ref: "#/components/schemas/FreightsUpdatePayloadAutoV1Dto"
                - $ref: "#/components/schemas/FreightsUpdatePayloadPublicV1Dto"
                - $ref: "#/components/schemas/FreightsUpdatePayloadCompaniesV1Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsUpdatedEntityV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Update freight
      tags:
        - freights-api
        - Freight management
    delete:
      operationId: FreightsManageV1Controller_deleteEntity
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      responses:
        "204":
          description: No Content
      security:
        - bearer: []
      summary: Delete freight
      tags:
        - freights-api
        - Freight management
  /ext/freights-api/v1/freights:
    get:
      operationId: FreightsReadV1Controller_getFreightsCollection
      parameters:
        - name: page
          required: false
          in: query
          schema:
            minimum: 1
            default: 1
            type: number
        - name: perPage
          required: false
          in: query
          schema:
            minimum: 1
            maximum: 30
            default: 10
            type: number
        - name: sortBy
          required: false
          in: query
          schema:
            default: createdAt
            type: string
        - name: order
          required: false
          in: query
          schema:
            default: desc
            type: string
            enum:
              - asc
              - desc
        - name: search
          required: false
          in: query
          schema:
            type: string
        - name: fields
          required: false
          in: query
          schema:
            $ref: "#/components/schemas/Object"
        - name: filter
          required: false
          in: query
          style: deepObject
          explode: true
          schema:
            $ref: "#/components/schemas/FreightsCollectionActiveQueryFilterV1Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FreightsCollectionItemV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Get freights list
      tags:
        - freights-api
        - Freight management
    post:
      operationId: FreightsManageV1Controller_postFreightsEntity
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/FreightsCreatePayloadAllV1Dto"
                - $ref: "#/components/schemas/FreightsCreatePayloadAutoV1Dto"
                - $ref: "#/components/schemas/FreightsCreatePayloadPublicV1Dto"
                - $ref: "#/components/schemas/FreightsCreatePayloadCompaniesV1Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV1Dto"
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsUpdatedEntityV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Create freight
      tags:
        - freights-api
        - Freight creation
  /ext/freights-api/v1/accepted:
    get:
      operationId: FreightsReadV1Controller_getAcceptedFreightsCollection
      parameters:
        - name: page
          required: false
          in: query
          schema:
            minimum: 1
            default: 1
            type: number
        - name: perPage
          required: false
          in: query
          schema:
            minimum: 1
            maximum: 30
            default: 10
            type: number
        - name: sortBy
          required: false
          in: query
          schema:
            default: createdAt
            type: string
        - name: order
          required: false
          in: query
          schema:
            default: desc
            type: string
            enum:
              - asc
              - desc
        - name: search
          required: false
          in: query
          schema:
            type: string
        - name: fields
          required: false
          in: query
          schema:
            $ref: "#/components/schemas/Object"
        - name: filter
          required: false
          in: query
          schema:
            $ref: "#/components/schemas/Object"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FreightsCollectionAcceptedItemV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Get accepted freights list
      tags:
        - freights-api
        - Freight management
  /ext/freights-api/v1/archive:
    get:
      operationId: FreightsReadV1Controller_getArchiveFreightsCollection
      parameters:
        - name: page
          required: false
          in: query
          schema:
            minimum: 1
            default: 1
            type: number
        - name: perPage
          required: false
          in: query
          schema:
            minimum: 1
            maximum: 30
            default: 10
            type: number
        - name: sortBy
          required: false
          in: query
          schema:
            default: createdAt
            type: string
        - name: order
          required: false
          in: query
          schema:
            default: desc
            type: string
            enum:
              - asc
              - desc
        - name: search
          required: false
          in: query
          schema:
            type: string
        - name: fields
          required: false
          in: query
          schema:
            $ref: "#/components/schemas/Object"
        - name: filter
          required: false
          in: query
          schema:
            $ref: "#/components/schemas/Object"
        - name: filters
          required: false
          in: query
          style: deepObject
          explode: true
          schema:
            $ref: "#/components/schemas/FreightsCollectionArchiveQueryFilterV1Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FreightsCollectionItemV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Get archived freights list
      tags:
        - freights-api
        - Freight management
  /ext/freights-api/v1/freights/{id}/offers:
    get:
      operationId: FreightsReadV1Controller_getOffersCollection
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FreightsOffersCollectionItemV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Get freight offers list
      tags:
        - freights-api
        - Price offer negotiation
  /ext/freights-api/v1/freight-proposals/accepted:
    get:
      operationId: FreightsReadV1Controller_getAcceptedProposalsCollection
      parameters:
        - name: pagination
          required: false
          in: query
          description: JSON string, e.g. {"limit":25,"search_after":"cursor"}
          schema:
            type: string
            example: '{"limit":25}'
        - name: search
          required: false
          in: query
          description: JSON string, e.g. {"value":"Berlin"}
          schema:
            type: string
            example: '{"value":"Berlin"}'
        - name: filter
          required: false
          in: query
          description: JSON string, e.g. {"reference_number":"REF-001"}
          schema:
            type: string
            example: '{"reference_number":"FR/2026/01/01/XXXX"}'
      responses:
        "200":
          description: "Returns accepted freight proposals. Role-based: carriers see their
            own accepted offers, shippers see offers accepted by carriers."
        "401":
          description: ""
        "403":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Get accepted freight proposals
      tags:
        - freights-api
        - Freight proposals
  /ext/freights-api/v1/freight-proposals/archived:
    get:
      operationId: FreightsReadV1Controller_getArchivedProposalsCollection
      parameters:
        - name: pagination
          required: false
          in: query
          description: JSON string, e.g. {"limit":25,"search_after":"cursor"}
          schema:
            type: string
            example: '{"limit":25}'
        - name: search
          required: false
          in: query
          description: JSON string
          schema:
            type: string
        - name: filter
          required: false
          in: query
          description: JSON string, e.g. {"reference_number":"REF-001"}
          schema:
            type: string
            example: '{"reference_number":"FR/2026/01/01/XXXX"}'
      responses:
        "200":
          description: Returns archived freight proposals.
        "401":
          description: ""
        "403":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Get archived freight proposals
      tags:
        - freights-api
        - Freight proposals
  /ext/freights-api/v1/freights/{id}/receivers:
    get:
      operationId: FreightsReadV1Controller_getFreightReceivers
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightReceiversV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Get freight publication receivers
      tags:
        - freights-api
        - Freight publication
    post:
      operationId: FreightsManageV1Controller_addReceivers
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightExtendedReceiversBody"
            examples:
              EMPLOYEE:
                summary: EMPLOYEE
                value:
                  receivers:
                    - type: employee
                      id: 2-172010
                      terms:
                        price:
                          value: 911
                          currency: pln
                        period:
                          payment: deferred
                          days: 360
                        is_first_buy: true
              COMPANY:
                summary: COMPANY
                value:
                  receivers:
                    - type: company
                      id: "105"
                      contact_employees:
                        - 3-123
                        - 3-456
                      terms:
                        price:
                          value: 911
                          currency: pln
                        period:
                          payment: deferred
                          days: 360
                        is_first_buy: true
              COMMUNITY_EXCHANGE:
                summary: COMMUNITY_EXCHANGE
                value:
                  receivers:
                    - type: community_exchange
                      id: 249b28d1-38f5-4a1c-a1ac-fd259d1332a1
                      terms:
                        price:
                          value: 911
                          currency: pln
                        period:
                          payment: deferred
                          days: 360
                        is_first_buy: true
              CORPORATE_EXCHANGE:
                summary: CORPORATE_EXCHANGE
                value:
                  receivers:
                    - type: corporate_exchange
                      id: 249b28d1-38f5-4a1c-a1ac-fd259d1332a3
                      terms:
                        price:
                          value: 911
                          currency: eur
                        period:
                          payment: deferred
                          days: 360
                        is_first_buy: true
              PRIVATE_EXCHANGE:
                summary: PRIVATE_EXCHANGE
                value:
                  receivers:
                    - type: private_exchange
                      id: 249b28d1-38f5-4a1c-a1ac-fd259d1332a4
                      terms:
                        price:
                          value: 911
                          currency: pln
                        period:
                          payment: deferred
                          days: 360
                        is_first_buy: true
              PUBLIC_EXCHANGE:
                summary: PUBLIC_EXCHANGE
                value:
                  receivers:
                    - type: public_exchange
                      terms:
                        price:
                          value: 911
                          currency: pln
                        period:
                          payment: deferred
                          days: 360
                        is_first_buy: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  direct:
                    type: object
                    properties:
                      id:
                        type: string
                        example: e53bce85-a8a5-4a37-bc61-6e93809a3ebd
                      group_id:
                        type: string
                        example: a47bce85-a8a5-4a37-bc61-6e93809a3rty
      security:
        - bearer: []
      summary: Add freight publication receivers
      tags:
        - freights-api
        - Freight publication
  /ext/freights-api/v1/freight-auto/{id}:
    put:
      operationId: FreightsManageV1Controller_putFreightsEntityAuto
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsUpdatePayloadAutoV1Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsUpdatedEntityV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Update freight (auto)
      tags:
        - freights-api
        - Freight management
  /ext/freights-api/v1/freight-exchange/{id}:
    put:
      operationId: FreightsManageV1Controller_putFreightsEntityExchange
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsUpdatePayloadPublicV1Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsUpdatedEntityV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Update freight for exchange
      tags:
        - freights-api
        - Freight management
  /ext/freights-api/v1/private-exchange/{id}:
    put:
      operationId: FreightsManageV1Controller_putFreightsEntityExchangePrivate
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsUpdatePayloadExchangesV1Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsUpdatedEntityV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Update freight for private exchange
      tags:
        - freights-api
        - Freight management
  /ext/freights-api/v1/freight-corporate/{id}:
    put:
      operationId: FreightsManageV1Controller_putFreightsEntityExchangeCorporate
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsUpdatePayloadExchangesV1Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsUpdatedEntityV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Update freight for corporate exchange
      tags:
        - freights-api
        - Freight management
  /ext/freights-api/v1/freight-companies/{id}:
    put:
      operationId: FreightsManageV1Controller_putFreightsEntityCompanies
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsUpdatePayloadCompaniesV1Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsUpdatedEntityV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Update freight for companies
      tags:
        - freights-api
        - Freight management
  /ext/freights-api/v1/freight-employees/{id}:
    put:
      operationId: FreightsManageV1Controller_putFreightsEntityEmployees
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsUpdatePayloadEmployeesV1Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsUpdatedEntityV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Update freight for employees
      tags:
        - freights-api
        - Freight management
  /ext/freights-api/v1/freights/{id}/archive:
    post:
      operationId: FreightsManageV1Controller_postArchiveEntity
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      responses:
        "200":
          description: Freight archived successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Freight has been successfully archived
        "404":
          description: Freight not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html
                  title:
                    type: string
                    example: Not Found
                  status:
                    type: number
                    example: 404
                  detail:
                    type: string
                    example: "Freight not found (id: 1)"
      security:
        - bearer: []
      summary: Archive freight
      tags:
        - freights-api
        - Freight publication
  /ext/freights-api/v1/freights/archive:
    post:
      operationId: FreightsManageV1Controller_postArchiveBulk
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: number
              example:
                - 1821180
                - 1821177
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsArchiveCollectionV1Dto"
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsArchiveCollectionV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Archive freights (bulk)
      tags:
        - freights-api
        - Freight publication
  /ext/freights-api/v1/cancelPublication/{id}:
    post:
      operationId: FreightsManageV1Controller_postCancelPublicationEntity
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      responses:
        "201":
          description: No Content
        "404":
          description: Freight not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html
                  title:
                    type: string
                    example: Not Found
                  status:
                    type: number
                    example: 404
                  detail:
                    type: string
                    example: "Freight not found (id: 1)"
      security:
        - bearer: []
      summary: Cancel freight publication
      tags:
        - freights-api
        - Freight publication
  /ext/freights-api/v1/cancelPublication:
    post:
      operationId: FreightsManageV1Controller_postCancelPublicationBulk
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: number
              example:
                - 1821180
                - 1821177
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCancelPublicationCollectionV1Dto"
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCancelPublicationCollectionV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Cancel freight publications (bulk)
      tags:
        - freights-api
        - Freight publication
  /ext/freights-api/v1/freights/{id}/refresh_publication:
    put:
      operationId: FreightsManageV1Controller_putRefreshPublicationEntity
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsUpdatedEntityV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Refresh freight publication
      tags:
        - freights-api
        - Freight publication
  /ext/freights-api/v2/freights:
    post:
      operationId: FreightsManageV2Controller_postFreightsCollection
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsCreatePayloadV2Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Create freight
      tags:
        - freights-api
        - Freight creation
  /ext/freights-api/v2/freights-contract:
    post:
      operationId: FreightsManageV2Controller_postFreightsContractCollection
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsCreatePayloadContractV2Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Create freight from contract
      tags:
        - freights-api
        - Freight creation
  /ext/freights-api/v2/freight-auto:
    post:
      operationId: FreightsManageV2Controller_postFreightsEntityAuto
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsCreatePayloadAutoV2Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Create freight (auto)
      tags:
        - freights-api
        - Freight creation
  /ext/freights-api/v2/freight-corporate:
    post:
      operationId: FreightsManageV2Controller_postFreightsEntityExchangeCorporate
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsCreatePayloadExchangesV2Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Create freight for corporate exchange
      tags:
        - freights-api
        - Freight creation
  /ext/freights-api/v2/freight-companies:
    post:
      operationId: FreightsManageV2Controller_postFreightsEntityCompanies
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsCreatePayloadCompaniesV2Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Create freight for companies
      tags:
        - freights-api
        - Freight creation
  /ext/freights-api/v2/freight-exchange:
    post:
      operationId: FreightsManageV2Controller_postFreightsEntityExchange
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsCreatePayloadExchangeV2Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Create freight for exchange
      tags:
        - freights-api
        - Freight creation
  /ext/freights-api/v2/private-exchange:
    post:
      operationId: FreightsManageV2Controller_postFreightsEntityExchangePrivate
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsCreatePayloadExchangesV2Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Create freight for private exchange
      tags:
        - freights-api
        - Freight creation
  /ext/freights-api/v2/freight-employees:
    post:
      operationId: FreightsManageV2Controller_postFreightsEntityEmployees
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsCreatePayloadEmployeesV2Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Create freight for employees
      tags:
        - freights-api
        - Freight creation
  /ext/freights-api/v2/freights-route:
    post:
      operationId: FreightsManageV2Controller_postFreightsRouteCollection
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsCreatePayloadRouteV2Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Create freight by route
      tags:
        - freights-api
        - Freight creation
  /ext/freights-api/v2/freights/{id}:
    put:
      operationId: FreightsManageV2Controller_putFreightsEntity
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsUpdatePayloadAllV2Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Update freight
      tags:
        - freights-api
        - Freight management
  /ext/freights-api/v2/freight-auto/{id}:
    put:
      operationId: FreightsManageV2Controller_putFreightsEntityAuto
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsUpdatePayloadAutoV2Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Update freight (auto)
      tags:
        - freights-api
        - Freight management
  /ext/freights-api/v2/freight-exchange/{id}:
    put:
      operationId: FreightsManageV2Controller_putFreightsEntityExchange
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsUpdatePayloadAutoV2Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Update freight for exchange
      tags:
        - freights-api
        - Freight management
  /ext/freights-api/v2/private-exchange/{id}:
    put:
      operationId: FreightsManageV2Controller_putFreightsEntityExchangePrivate
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsUpdatePayloadExchangesV2Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Update freight for private exchange
      tags:
        - freights-api
        - Freight management
  /ext/freights-api/v2/freight-corporate/{id}:
    put:
      operationId: FreightsManageV2Controller_putFreightsEntityExchangeCorporate
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsUpdatePayloadExchangesV2Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Update freight for corporate exchange
      tags:
        - freights-api
        - Freight management
  /ext/freights-api/v2/freight-companies/{id}:
    put:
      operationId: FreightsManageV2Controller_putFreightsEntityCompanies
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsUpdatePayloadCompaniesV2Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Update freight for companies
      tags:
        - freights-api
        - Freight management
  /ext/freights-api/v2/freight-employees/{id}:
    put:
      operationId: FreightsManageV2Controller_putFreightsEntityEmployees
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsUpdatePayloadEmployeesV2Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightsCreatedEntityV2Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Update freight for employees
      tags:
        - freights-api
        - Freight management
  /ext/freights-api/v1/freight-proposals:
    get:
      operationId: ProposalsReadV1Controller_getCollection
      parameters:
        - name: filter
          required: false
          in: query
          style: deepObject
          explode: true
          schema:
            $ref: "#/components/schemas/ProposalsCollectionQueryFilterV1Dto"
        - name: sortBy
          required: false
          in: query
          schema:
            type: string
        - name: order
          required: false
          in: query
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProposalCollectionItemV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Get freight proposals list
      tags:
        - Freight proposals
        - freights-api
  /ext/freights-api/v1/freight-proposals/{id}:
    get:
      operationId: ProposalsReadV1Controller_getEntity
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/ProposalEntityV1Dto"
                  - $ref: "#/components/schemas/ProposalEntityNegotiatedV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Get freight proposal details
      tags:
        - Freight proposals
        - freights-api
  /ext/freights-api/v2/freight-proposals:
    get:
      operationId: ProposalsReadV2Controller_getCollection
      parameters:
        - name: filter
          required: false
          in: query
          style: deepObject
          explode: true
          schema:
            $ref: "#/components/schemas/ProposalsCollectionQueryFilterV1Dto"
        - name: sortBy
          required: false
          in: query
          schema:
            type: string
        - name: order
          required: false
          in: query
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProposalCollectionItemV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Get freight proposals list
      tags:
        - Freight proposals
        - freights-api
  /ext/freights-api/v2/freight-proposals/{id}:
    get:
      operationId: ProposalsReadV2Controller_getEntity
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/ProposalEntityV2Dto"
                  - $ref: "#/components/schemas/ProposalEntityNegotiatedV2Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Get freight proposal details
      tags:
        - Freight proposals
        - freights-api
  /ext/freights-api/v1/freights/offers/{id}:
    get:
      operationId: OffersReadV1Controller_getEntity
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrightsOffersEntityV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Get freight offer details
      tags:
        - Price offer negotiation
        - freights-api
  /ext/freights-api/v1/freights/offers/{id}/negotiate:
    patch:
      operationId: OffersManageV1Controller_patchEntityNegotiate
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsOfferNegotiationPayloadV1Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrightsOffersNegotiationEntityV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Negotiate freight offer
      tags:
        - Price offer negotiation
        - freights-api
  /ext/freights-api/v1/freights/offers/{id}/accept:
    post:
      operationId: OffersManageV1Controller_postEntityAccept
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: false
        description: An object that contains version of offer to accept
        content:
          application/json:
            schema:
              type: string
            examples:
              regular:
                summary: Regular
                value:
                  version: 4
              target_employee_id:
                summary: With target employee
                value:
                  version: 2
                  target_employee_id: 1091410-2
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrightsOffersNegotiationEntityV1Dto"
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrightsOffersNegotiationEntityV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Accept freight offer
      tags:
        - Price offer negotiation
        - freights-api
  /ext/freights-api/v1/freights/offers/{id}/reject:
    post:
      operationId: OffersManageV1Controller_postEntityReject
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: false
        description: An object that contains version of offer to reject
        content:
          application/json:
            schema:
              type: string
            examples:
              target_employee_account_id:
                summary: Target employee (account id)
                value:
                  version: 4
                  target_employee_id: 1452
                  reject_ultimately: true
                  reason: reason example
              target_employee_trans_id:
                summary: Target employee (trans_id)
                value:
                  version: 4
                  target_employee_id: 1091410-2
                  reject_ultimately: true
                  reason: reason example
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrightsOffersNegotiationEntityV1Dto"
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrightsOffersNegotiationEntityV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Reject freight offer
      tags:
        - Price offer negotiation
        - freights-api
  /ext/freights-api/v1/freights/offers/{id}/renouncement:
    post:
      operationId: OffersManageV1Controller_postEntityRenouncement
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsOfferRejectionPayloadV1Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrightsOffersNegotiationRenouncementEntityV1Dto"
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrightsOffersNegotiationRenouncementEntityV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Renounce freight offer
      tags:
        - Price offer negotiation
        - freights-api
  /ext/freights-api/v1/freights/offers/{id}/withdraw:
    post:
      operationId: OffersManageV1Controller_postEntityWithdraw
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsOfferWithdrawPayloadV1Dto"
      responses:
        "200":
          description: ""
        "201":
          description: ""
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Withdraw freight offer
      tags:
        - Price offer negotiation
        - freights-api
  /ext/freights-api/v1/freights/offers/{id}/takeover:
    patch:
      operationId: OffersManageV1Controller_patchEntityTakeover
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightsOfferTakeoverPayloadV1Dto"
      responses:
        "200":
          description: ""
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Take over freight offer
      tags:
        - Price offer negotiation
        - freights-api
  /ext/freights-api/v1/freights/{id}/internal-note:
    get:
      operationId: InternalNotesV1Controller_getNote
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightInternalNoteV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Get freight internal note
      tags:
        - Internal notes
        - freights-api
    post:
      operationId: InternalNotesV1Controller_createNote
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightInternalNotePayloadV1Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightInternalNoteV1Dto"
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightInternalNoteV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Create freight internal note
      tags:
        - Internal notes
        - freights-api
    put:
      operationId: InternalNotesV1Controller_updateNote
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreightInternalNotePayloadV1Dto"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreightInternalNoteV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Update freight internal note
      tags:
        - Internal notes
        - freights-api
    delete:
      operationId: InternalNotesV1Controller_deleteNote
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      responses:
        "204":
          description: No Content
      security:
        - bearer: []
      summary: Delete freight internal note
      tags:
        - Internal notes
        - freights-api
  /ext/orders-api/v1/orders/{orderId}/additional-costs/{costId}/accept:
    patch:
      operationId: ManageV1Controller_acceptAdditionalCost
      parameters:
        - name: orderId
          required: true
          in: path
          schema:
            type: string
        - name: costId
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: ""
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      tags:
        - orders-api
  /ext/orders-api/v1/orders/{orderId}/additional-costs/{costId}/reject:
    patch:
      operationId: ManageV1Controller_rejectAdditionalCost
      parameters:
        - name: orderId
          required: true
          in: path
          schema:
            type: string
        - name: costId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RejectAdditionalCostDto"
      responses:
        "200":
          description: ""
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      tags:
        - orders-api
  /ext/orders-api/v1/orders/{orderId}/additional-costs/{costId}:
    put:
      operationId: ManageV1Controller_updateAdditionalCost
      parameters:
        - name: orderId
          required: true
          in: path
          schema:
            type: string
        - name: costId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAdditionalCostDto"
      responses:
        "200":
          description: ""
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      tags:
        - orders-api
  /ext/orders-api/v1/orders-created/{orderId}/costs:
    post:
      operationId: ManageV1Controller_createOrderCost
      parameters:
        - name: orderId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrderCostDto"
      responses:
        "200":
          description: ""
        "204":
          description: ""
          content:
            application/json:
              schema:
                type: object
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      tags:
        - orders-api
  /ext/orders-api/v1/orders-created/{orderId}/costs/{costId}:
    put:
      operationId: ManageV1Controller_updateOrderCost
      parameters:
        - name: orderId
          required: true
          in: path
          schema:
            type: string
        - name: costId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrderCostDto"
      responses:
        "200":
          description: ""
        "204":
          description: ""
          content:
            application/json:
              schema:
                type: object
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      tags:
        - orders-api
    delete:
      operationId: ManageV1Controller_deleteOrderCost
      parameters:
        - name: orderId
          required: true
          in: path
          schema:
            type: string
        - name: costId
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: ""
        "204":
          description: ""
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      tags:
        - orders-api
  /ext/orders-api/v1/orders/{orderId}:
    patch:
      description: Update an existing order. Currently supports updating the shipment
        external ID.
      operationId: ManageV1Controller_updateOrder
      parameters:
        - name: orderId
          required: true
          in: path
          description: Order UUID
          schema:
            format: uuid
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchOrderDto"
      responses:
        "204":
          description: Order updated successfully
        "400":
          description: Bad request - validation failed
        "401":
          description: Unauthorized - authentication required
        "404":
          description: Order not found
        "422":
          description: Validation error - input data validation failed
      security:
        - bearer: []
      summary: Update order
      tags:
        - orders-api
  /ext/orders-api/v1/orders/{orderId}/amendments:
    post:
      description: Creates a new amendment for an existing order.
      operationId: ManageV1Controller_addOrderAmendment
      parameters:
        - name: orderId
          required: true
          in: path
          description: Order UUID
          schema:
            format: uuid
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostOrderAmendmentDto"
      responses:
        "204":
          description: Amendment created successfully
        "400":
          description: Bad request - malformed payload
        "401":
          description: Unauthorized - authentication required
        "404":
          description: Order not found
        "422":
          description: Validation error returned by external orders service
      security:
        - bearer: []
      summary: Add order amendment
      tags:
        - orders-api
  /ext/orders-api/v1/orders-received:
    get:
      operationId: OrdersReadV1Controller_getOrdersReceived
      parameters:
        - name: sortBy
          required: true
          in: query
          schema:
            type: string
        - name: order
          required: true
          in: query
          schema:
            type: string
        - name: page
          required: true
          in: query
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrdersReceivedCollectionV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      tags:
        - orders-api
  /ext/orders-api/v1/archive-orders-received:
    get:
      operationId: OrdersReadV1Controller_getArchiveOrdersReceived
      parameters:
        - name: sortBy
          required: true
          in: query
          schema:
            type: string
        - name: order
          required: true
          in: query
          schema:
            type: string
        - name: page
          required: true
          in: query
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrdersReceivedArchiveV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      tags:
        - orders-api
  /ext/orders-api/v1/orders-received/{id}:
    get:
      operationId: OrdersReadV1Controller_getOrderReceived
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrdersReceivedEntityV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      tags:
        - orders-api
  /ext/orders-api/v1/orders-created:
    get:
      operationId: OrdersReadV1Controller_getOrdersCreated
      parameters:
        - name: sortBy
          required: true
          in: query
          schema:
            type: string
        - name: order
          required: true
          in: query
          schema:
            type: string
        - name: page
          required: true
          in: query
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrdersCreatedCollectionV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      tags:
        - orders-api
    post:
      deprecated: true
      description: >-
        Create a new order with freight details including loads, spots, payment
        terms, and requirements.


        **DEPRECATED:** This endpoint (POST /ext/orders-api/v1/orders-created)
        is maintained for backward compatibility. Use POST
        /ext/orders-api/v1/orders instead.
      operationId: OrdersCreateV1Controller_createOrderDeprecated
      parameters: []
      requestBody:
        required: true
        description: Create order payload (validated at runtime with JSON Schema,
          including numeric measurement shorthand where supported).
        content:
          application/json:
            schema:
              type: object
              example:
                external_source: external-integration
                additional_terms: null
                number: null
                incoterm: null
                allow_forwarding_to_subcontractor: false
                freight:
                  shipment_external_id: null
                  carrier_remarks: null
                  distance_estimated: 420
                  distance: null
                  is_roundtrip: false
                  reference_number: REF-2024-001
                  transit_time: null
                  carrier:
                    company_id: 100001
                  shipper:
                    company_id: 200002
                    assignee:
                      account_id: 5001
                      family_name: Kowalski
                      given_name: Jan
                      email: jan.kowalski@example.com
                      telephone: "+48123456789"
                      trans_id: trans-5001
                  capacity: 24
                  loading_meters: null
                  height: null
                  width: null
                  length: null
                  volume: null
                  loads:
                    - load_id: load-001
                      is_stackable: true
                      is_exchangeable: false
                      type_of_load: pallets
                      amount: 33
                      name: Electronics
                      description: null
                      shipment_request_load_id: null
                      weight: 12000
                      height: 1.8
                      width: 1.2
                      length: 2.4
                      volume: null
                      loading_meters: null
                      cleaning_regime: null
                      idtf: null
                  spots:
                    - name: Warehouse A — loading
                      spot_order: 1
                      description: null
                      place:
                        address:
                          locality: Warsaw
                          postal_code: 00-001
                          country: PL
                          street: Logistyczna
                          number: "10"
                          description: null
                          tracking: null
                        coordinates:
                          latitude: 52.2297
                          longitude: 21.0122
                        foreign_id: null
                        detailed_location_id: null
                        location_id: null
                        radius: null
                        timezone: Europe/Warsaw
                      operations:
                        - type: loading
                          operation_order: 1
                          slot: null
                          timespans:
                            begin: 2024-06-10T08:00:00Z
                            end: 2024-06-10T16:00:00Z
                          operation_time: null
                          time_window: null
                          time_window_reason: null
                          loads:
                            - load_id: load-001
                              weight: 12000
                    - name: DC B — unloading
                      spot_order: 2
                      description: null
                      place:
                        address:
                          locality: Berlin
                          postal_code: "10115"
                          country: DE
                          street: Hauptstraße
                          number: "5"
                          description: null
                          tracking: null
                        coordinates:
                          latitude: 52.52
                          longitude: 13.405
                        foreign_id: null
                        detailed_location_id: null
                        location_id: null
                        radius: null
                        timezone: Europe/Berlin
                      operations:
                        - type: unloading
                          operation_order: 1
                          slot: null
                          timespans:
                            begin: 2024-06-11T06:00:00Z
                            end: 2024-06-11T14:00:00Z
                          operation_time: null
                          time_window: null
                          time_window_reason: null
                          loads:
                            - load_id: load-001
                              weight: null
                  requirements:
                    is_ftl: true
                    other_requirements: []
                    required_adr_classes: []
                    required_truck_bodies:
                      - curtain
                    required_ways_of_loading: []
                    shipping_remarks: null
                    vehicle_size_id: null
                    is_tracking_system_required: false
                    temperature: null
                    transport:
                      count: 1
                      total_weight: null
                      type: ftl
                      settlement_basis: null
                      schedule_type: null
                    required_tipper_trailer_additional_equipment: []
                    required_door_types: []
                    exemption_from_adr: null
                payment:
                  days: 30
                  price:
                    value: 4500
                    currency: EUR
                    type: route
                    protected: false
                monitoring:
                  required: false
                  providers: null
                insurance:
                  load: null
                  third_party: null
                attachments_requirements: null
                driver: null
                vehicle: null
      responses:
        "201":
          description: Order created successfully (entity-shaped response; see internal
            mapping layer for fields).
        "400":
          description: Bad request - validation failed
        "401":
          description: Unauthorized - authentication required
        "422":
          description: Validation error - input data validation failed
      security:
        - bearer: []
      summary: Create order (deprecated path)
      tags:
        - orders-api
  /ext/orders-api/v1/orders-created/{id}:
    get:
      operationId: OrdersReadV1Controller_getOrderCreated
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrdersCreatedEntityV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      tags:
        - orders-api
  /ext/orders-api/v1/archive-orders-created:
    get:
      operationId: OrdersReadV1Controller_getArchiveOrdersCreated
      parameters:
        - name: sortBy
          required: true
          in: query
          schema:
            type: string
        - name: order
          required: true
          in: query
          schema:
            type: string
        - name: page
          required: true
          in: query
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrdersCreatedArchiveV1Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      tags:
        - orders-api
  /ext/orders-api/v1/orders:
    post:
      operationId: OrdersCreateV1Controller_createOrder
      parameters: []
      requestBody:
        required: true
        description: Create order payload (validated at runtime with JSON Schema,
          including numeric measurement shorthand where supported).
        content:
          application/json:
            schema:
              type: object
              example:
                external_source: external-integration
                additional_terms: null
                number: null
                incoterm: null
                allow_forwarding_to_subcontractor: false
                freight:
                  shipment_external_id: null
                  carrier_remarks: null
                  distance_estimated: 420
                  distance: null
                  is_roundtrip: false
                  reference_number: REF-2024-001
                  transit_time: null
                  carrier:
                    company_id: 100001
                  shipper:
                    company_id: 200002
                    assignee:
                      account_id: 5001
                      family_name: Kowalski
                      given_name: Jan
                      email: jan.kowalski@example.com
                      telephone: "+48123456789"
                      trans_id: trans-5001
                  capacity: 24
                  loading_meters: null
                  height: null
                  width: null
                  length: null
                  volume: null
                  loads:
                    - load_id: load-001
                      is_stackable: true
                      is_exchangeable: false
                      type_of_load: pallets
                      amount: 33
                      name: Electronics
                      description: null
                      shipment_request_load_id: null
                      weight: 12000
                      height: 1.8
                      width: 1.2
                      length: 2.4
                      volume: null
                      loading_meters: null
                      cleaning_regime: null
                      idtf: null
                  spots:
                    - name: Warehouse A — loading
                      spot_order: 1
                      description: null
                      place:
                        address:
                          locality: Warsaw
                          postal_code: 00-001
                          country: PL
                          street: Logistyczna
                          number: "10"
                          description: null
                          tracking: null
                        coordinates:
                          latitude: 52.2297
                          longitude: 21.0122
                        foreign_id: null
                        detailed_location_id: null
                        location_id: null
                        radius: null
                        timezone: Europe/Warsaw
                      operations:
                        - type: loading
                          operation_order: 1
                          slot: null
                          timespans:
                            begin: 2024-06-10T08:00:00Z
                            end: 2024-06-10T16:00:00Z
                          operation_time: null
                          time_window: null
                          time_window_reason: null
                          loads:
                            - load_id: load-001
                              weight: 12000
                    - name: DC B — unloading
                      spot_order: 2
                      description: null
                      place:
                        address:
                          locality: Berlin
                          postal_code: "10115"
                          country: DE
                          street: Hauptstraße
                          number: "5"
                          description: null
                          tracking: null
                        coordinates:
                          latitude: 52.52
                          longitude: 13.405
                        foreign_id: null
                        detailed_location_id: null
                        location_id: null
                        radius: null
                        timezone: Europe/Berlin
                      operations:
                        - type: unloading
                          operation_order: 1
                          slot: null
                          timespans:
                            begin: 2024-06-11T06:00:00Z
                            end: 2024-06-11T14:00:00Z
                          operation_time: null
                          time_window: null
                          time_window_reason: null
                          loads:
                            - load_id: load-001
                              weight: null
                  requirements:
                    is_ftl: true
                    other_requirements: []
                    required_adr_classes: []
                    required_truck_bodies:
                      - curtain
                    required_ways_of_loading: []
                    shipping_remarks: null
                    vehicle_size_id: null
                    is_tracking_system_required: false
                    temperature: null
                    transport:
                      count: 1
                      total_weight: null
                      type: ftl
                      settlement_basis: null
                      schedule_type: null
                    required_tipper_trailer_additional_equipment: []
                    required_door_types: []
                    exemption_from_adr: null
                payment:
                  days: 30
                  price:
                    value: 4500
                    currency: EUR
                    type: route
                    protected: false
                monitoring:
                  required: false
                  providers: null
                insurance:
                  load: null
                  third_party: null
                attachments_requirements: null
                driver: null
                vehicle: null
      responses:
        "201":
          description: Order created successfully (entity-shaped response; see internal
            mapping layer for fields).
        "400":
          description: Bad request - validation failed
        "401":
          description: Unauthorized - authentication required
        "422":
          description: Validation error - input data validation failed
      security:
        - bearer: []
      tags:
        - orders-api
  /ext/orders-api/v1/orders/{id}/invoice:
    get:
      description: Retrieves invoice information for a specific order
      operationId: OrdersInvoiceV1Controller_getInvoice
      parameters:
        - name: id
          required: true
          in: path
          description: Order UUID
          schema:
            format: uuid
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceResponseDto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Get invoice for order
      tags:
        - orders-api
    post:
      description: Adds an invoice attachment to a specific order
      operationId: OrdersInvoiceV1Controller_addInvoice
      parameters:
        - name: id
          required: true
          in: path
          description: Order UUID
          schema:
            format: uuid
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostInvoiceDto"
      responses:
        "200":
          description: ""
        "201":
          description: Invoice added successfully
        "204":
          description: ""
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Bad request - validation failed
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      summary: Add invoice to order
      tags:
        - orders-api
  /ext/orders-api/v2/orders-created:
    get:
      operationId: OrdersReadV2Controller_getOrdersCreated
      parameters:
        - name: filter
          required: true
          in: query
          schema:
            type: string
        - name: search
          required: true
          in: query
          schema:
            type: string
        - name: sortBy
          required: true
          in: query
          schema:
            type: string
        - name: order
          required: true
          in: query
          schema:
            type: string
        - name: page
          required: true
          in: query
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrdersCollectionItemV2Dto"
        "401":
          description: ""
        "403":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      tags:
        - orders-api
  /ext/orders-api/v2/orders-created/{id}:
    get:
      operationId: OrdersReadV2Controller_getOrderCreatedById
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrdersEntityV2Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      tags:
        - orders-api
  /ext/orders-api/v2/orders-received:
    get:
      operationId: OrdersReadV2Controller_getOrdersReceived
      parameters:
        - name: filter
          required: true
          in: query
          schema:
            type: string
        - name: search
          required: true
          in: query
          schema:
            type: string
        - name: sortBy
          required: true
          in: query
          schema:
            type: string
        - name: order
          required: true
          in: query
          schema:
            type: string
        - name: page
          required: true
          in: query
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrdersCollectionItemV2Dto"
        "401":
          description: ""
        "403":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      tags:
        - orders-api
  /ext/orders-api/v2/orders-received/{id}:
    get:
      operationId: OrdersReadV2Controller_getOrderReceivedById
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrdersEntityV2Dto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      security:
        - bearer: []
      tags:
        - orders-api
  /ext/orders-api/v2/transport/{id}:
    get:
      operationId: OrdersReadV2Controller_getTransport
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrdersV2Transport"
      security:
        - bearer: []
      tags:
        - orders-api
  /ext/contracts-api/v1/contracts:
    get:
      operationId: ContractsReadV1Controller_getList
      parameters:
        - name: context
          required: true
          in: query
          schema:
            type: string
        - name: limit
          required: false
          in: query
          description: Number of items per page
          schema:
            example: 25
            type: number
        - name: offset
          required: false
          in: query
          description: Number of items to skip
          schema:
            example: 0
            type: number
        - name: filter
          required: false
          in: query
          description: Filter object (will be JSON stringified)
          schema:
            example:
              route_id: a9288ec1-6e97-41e7-befb-e81e78125406
            type: object
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ContractsListResponseDto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      tags:
        - contracts-api
    post:
      description: Create a new contract
      operationId: ContractsManageV1Controller_create
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateContractDto"
      responses:
        "201":
          description: Contract created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractResponseDto"
        "400":
          description: Bad request - invalid input data
        "401":
          description: Unauthorized - authentication required
        "422":
          description: Validation error - input data validation failed
      summary: Create contract
      tags:
        - contracts-api
  /ext/contracts-api/v1/contracts/{uuid}:
    get:
      operationId: ContractsReadV1Controller_getById
      parameters:
        - name: uuid
          required: true
          in: path
          description: Contract UUID
          schema:
            format: uuid
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractResponseDto"
        "401":
          description: ""
        "403":
          description: ""
        "404":
          description: ""
        "424":
          description: ""
      tags:
        - contracts-api
    put:
      description: Update existing contract or create amendment
      operationId: ContractsManageV1Controller_update
      parameters:
        - name: uuid
          required: true
          in: path
          description: Contract UUID
          schema:
            format: uuid
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateContractDto"
      responses:
        "200":
          description: Contract updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractResponseDto"
        "400":
          description: Bad request - invalid input data
        "401":
          description: Unauthorized - authentication required
        "404":
          description: Contract not found
        "422":
          description: Validation error - input data validation failed
      summary: Update contract
      tags:
        - contracts-api
  /ext/contracts-api/v2/contracts/fixed:
    post:
      description: Create a fixed contract.
      operationId: ContractsManageV2Controller_createFixed
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateFixedContractV2Dto"
      responses:
        "201":
          description: Fixed contract created successfully
          content:
            application/json:
              schema:
                example:
                  id: cacf90b0-5f34-415f-99ae-2783946b17f5
                  base_contract_id: cacf90b0-5f34-415f-99ae-2783946b17f5
                  type: fixed
                  position: null
                  carrier:
                    company:
                      id: 1023106
                      name: Forwarder Dev
                    contact_persons: []
                    cooperation_status: active
                  deactivations: []
                  order_terms:
                    monitoring:
                      required: false
                    additional_terms: additional_terms
                    insurance:
                      load: null
                      third_party: null
                    automatic_order_sending: false
                    payment_period:
                      value: 5
                    silent_confirmation:
                      enabled: false
                      time: null
                    autoresponder:
                      enabled: false
                      time: null
                  period:
                    from: 2026-03-03T10:20:00+02:00
                    to: 2026-04-04T10:45:00+02:00
                  percentage_share: 0
                  planned_shipments:
                    periods: []
                    type: null
                    unit: null
                    value: null
                  pricing:
                    negotiable: true
                    type: route
                    price:
                      value: 55
                      currency: eur
                    fuel_base_price:
                      value: null
                      currency: eur
                  reference_number: reference_number
                  route:
                    id: 94c9ec23-dbd5-496a-b839-b3c7bc22eddc
                    unique_key: null
                    name: 9.12.2025 walkingfloor 1
                    publication_scenario:
                      type: parallel
                    spots:
                      - id: 8e251e17-c900-40db-ae0c-acf86fd7ee9f
                        name: lezajskie
                        type: loading
                        place:
                          address:
                            locality: Leżajsk
                            postal_code: 37-300
                            country: pl
                            street: 11 Listopada
                            number: "2"
                            location_id: 1267629
                            detailed_location_id: 428168490
                            foreign_id: null
                            radius: 200
                          coordinates:
                            latitude: 50.27007211
                            longitude: 22.41241634
                      - id: 8089d402-e609-45c3-bf69-30ca9fb68e22
                        name: jaros
                        type: unloading
                        place:
                          address:
                            locality: Pawłosiów
                            postal_code: 37-500
                            country: pl
                            street: 3 Maja
                            number: "10"
                            location_id: 1266842
                            detailed_location_id: 315053297
                            foreign_id: null
[...]
